<div class="min-h-dvh overflow-hidden relative py-[200px] tablet-sm:pb-[148px]">
  <div class="text-center w-full" qsAnimation="fadeInDown">
    <h2
      qsAnimation
      animHover="wobbleVertical"
      matTooltip="Up for a chat?"
      class="text-underlined mb-8 text-5xl font-extrabold
        after:h-3 after:bottom-1
        mobile-md:text-[11dvw] mobile-md:after:bottom-[0.5dvw]
        mobile-sm:after:h-[10px]
      "
    >
      Let's Connect
    </h2>
  </div>
  <div class="grid grid-cols-2 desktop-sm:grid-cols-[60%_auto]">
    <div
      class="flex flex-col justify-center p-[5%] pl-[25%]
        desktop-sm:p-8
        tablet-md:p-6 tablet-md:pl-8
        tablet-sm:col-span-2 tablet-sm:p-8
        mobile-md:p-6
      ">
      <qs-contact-form qsAnimation="fadeIn" />
    </div>

    <div
      class="
        flex flex-col justify-center py-0 px-[5%]
        desktop-sm:px-8
        tablet-md:pl-6
        tablet-sm:col-span-2 tablet-sm:px-8
        mobile-md:pl-6
      ">
      <div
        class="font-secondary text-accent-purple text-2xl leading-8 max-w-[420px]
          desktop-sm:text-[1.375rem]
          tablet-md:text-xl
          tablet-sm:mt-6 tablet-sm:max-w-none
        ">
        <p qsAnimation="flipInX" animHover="grow" class="leading-8">
          Got a question? Wanted to say hi? I'm all ears!
        </p>
        <p qsAnimation="flipInX" animHover="grow" class="leading-8">
          Hit me up and I'll try my best to get back.
        </p>
      </div>
      <div class="gap-16 mt-16 tablet-sm:mt-12 tablet-sm:mb-[76px]">
        <h3
          qsAnimation="fadeIn"
          class="text-gray font-secondary text-2xl font-semibold mb-6
            tablet-sm:text-xl tablet-sm:mb-4
          ">
            Socials:
        </h3>
        <ul class="flex gap-4 desktop-sm:flex-col tablet-sm:flex-row mobile-md:flex-col">
          @for (social of socialLinks; track $index) {
            <li class="font-secondary text-xl">
              <a
                target="_blank"
                class="inline-block text-gray border-solid border-b-2 border-b-gray
                  hover:text-accent-purple hover:border-b-accent-purple"
                rel="noreferrer noopener"
                qsAnimation="rotateIn"
                animHover="rubberBand"
                [href]="social.url"
                >{{ social.name }}</a
              >
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div
    class="absolute flex items-center justify-center w-full gap-2 bottom-4"
  >
    <img
      src="assets/svg/logo.svg"
      width="42"
      alt="DQ Logo"
      aria-label="Drei Quevada Logo"
      qsAnimation="fadeInUp"
    />
    <div qsAnimation="fadeInUp">
      <span class="mb-[2px] block">Drei Quevada © 2024</span>
      <a
        href="mailto:contact@dreiq.dev"
        class="text-sm text-gray font-light hover:text-accent-purple"
        aria-label="Send an email"
        matTooltip="Please... do not spam me."
      >
        contact&#64;dreiq.dev
      </a>
    </div>
  </div>
</div>
