<h1 class="text-2xl mb-4">Upcoming Expenses</h1>
<mat-tab-group qsTabGroup [selectedIndex]="selectedPeriodIndex">
  <mat-tab label="1st Period">
    <div class="py-6">
      <div class="flex justify-between items-center mb-4 table-heading">
        <p class="text-gray text-sm">Expenses that are paid on the 30th of the month (excluding 30th expenses).</p>
        <ng-template [ngTemplateOutlet]="markAllBtn" />
      </div>
      <app-expenses-table [expenses]="period1Expenses" />
    </div>
  </mat-tab>

  <mat-tab label="2nd Period">
    <div class="py-6">
      <div class="flex justify-between items-center mb-4 table-heading">
        <p class="text-gray text-sm">Expenses that are paid on the 15th of the month (excluding 15th expenses).</p>
        <ng-template [ngTemplateOutlet]="markAllBtn" />
      </div>
      <app-expenses-table [expenses]="period2Expenses" />
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #markAllBtn>
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="markAllAsUnpaid()"
  >
    Mark all as Unpaid
  </button>
</ng-template>
