<qs-overlay-spinner [hidden]="!isLoading()" />
<header class="mb-4">
  <h1 class="text-2xl">Upcoming Bills</h1>
  <div class="mt-4">
    <h2 class="text-xl text-gray">
      MONTHLY TOTAL: {{ monthlyTotal | currency : 'PHP' }}
    </h2>
  </div>
</header>
<mat-tab-group
  qsTabGroup
  [selectedIndex]="selectedPeriodIndex"
  (selectedIndexChange)="selectedPeriodIndex.set($event); loadedTabIndexes().push($event)"
>
  <mat-tab label="1st Period">
    <div class="pt-6">
      <div class="flex justify-between items-center table-heading">
        <p class="text-gray text-sm m-0">Bills that are paid before the 30th of the month (excluding 30th bills).</p>
        <ng-template [ngTemplateOutlet]="markAllBtn" />
      </div>
      <app-bills-table [bills]="period1Bills" />
    </div>
  </mat-tab>

  <mat-tab label="2nd Period">
    @if (selectedPeriodIndex() === 1 || loadedTabIndexes().includes(1)) {
      <div class="pt-6">
        <div class="flex justify-between items-center table-heading">
          <p class="text-gray text-sm m-0">Bills that are paid before the 15th of the month (excluding 15th bills).</p>
          <ng-template [ngTemplateOutlet]="markAllBtn" />
        </div>
        <app-bills-table [bills]="period2Bills" />
      </div>
    }
  </mat-tab>

  <mat-tab label="All Bills">
    @if (selectedPeriodIndex() === 2 || loadedTabIndexes().includes(2)) {
      <div class="pt-6">
        <div class="flex justify-between items-center table-heading">
          <p class="text-gray text-sm m-0">All unfiltered bills.</p>
          <ng-template [ngTemplateOutlet]="markAllBtn" />
        </div>
        <app-bills-table [bills]="allBills" />
      </div>
    }
  </mat-tab>
</mat-tab-group>

<ng-template #markAllBtn>
  <div class="flex items-center gap-4">
    <button
      mat-stroked-button
      type="button"
      color="primary"
      (click)="markAllAsUnpaid()"
    >
      Mark all as Unpaid
    </button>
    <button
      mat-flat-button
      color="accent"
      type="button"
      (click)="onAddBill()"
    >
      <span class="flex items-center gap-2">
        <qs-icon iconName="plus" [iconSize]="20" />
        Add Bill
      </span>
    </button>
  </div>
</ng-template>
