@if (isLoading()) {
  <qs-overlay-spinner />
}
<header class="mb-4">
  <h1 class="text-2xl">Upcoming Bills</h1>
  <div class="mt-4">
    <h2 class="text-xl text-gray">
      MONTHLY TOTAL: {{ overallTotal | currency : 'PHP' }}
    </h2>
  </div>
</header>
<mat-tab-group qsTabGroup [(selectedIndex)]="selectedPeriodIndex">
  <mat-tab label="1st Period">
    <div class="py-6">
      <div class="flex justify-between items-center mb-4 table-heading">
        <p class="text-gray text-sm">Bills that are paid on the 30th of the month (excluding 30th bills).</p>
        <ng-template [ngTemplateOutlet]="markAllBtn" />
      </div>
      <app-bills-table [bills]="period1Bills" />
    </div>
  </mat-tab>

  <mat-tab label="2nd Period">
    <div class="py-6">
      <div class="flex justify-between items-center mb-4 table-heading">
        <p class="text-gray text-sm">Bills that are paid on the 15th of the month (excluding 15th bills).</p>
        <ng-template [ngTemplateOutlet]="markAllBtn" />
      </div>
      <app-bills-table [bills]="period2Bills" />
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #markAllBtn>
  <div class="flex items-center gap-4">
    <button
      mat-stroked-button
      type="button"
      color="primary"
      (click)="markAllAsUnpaid()"
    >
      Mark all as Unpaid
    </button>
    <button
      mat-flat-button
      color="accent"
      type="button"
      (click)="onAddBill()"
    >
      <span class="flex items-center gap-2">
        <qs-icon iconName="plus" [iconSize]="20" />
        Add Bill
      </span>
    </button>
  </div>
</ng-template>
