<app-navbar />
<div class="p-8 flex flex-col gap-8">
  <qs-overlay-spinner [hidden]="!isLoading()" />
  <section class="grid grid-cols-[320px_auto] gap-8">
    <app-dashboard-bank-accounts
      [bankAccounts]="bankAccounts()"
      [bankAccountsTotalBalance]="bankAccountsTotalBalance()"
      (accountUpdated)="onAccountUpdated()"
    />
    <app-dashboard-fund-sources
      [fundSources]="fundSources()"
      [fundSourcesTotalAmount]="fundSourcesTotalAmount()"
    />
  </section>
  <section class="grid grid-cols-[320px_auto] gap-8">
    <app-dashboard-next-month-savings
      [fundSources]="fundSources()"
      [budgets]="budgets()"
      [bills]="bills()"
      [bankAccountsTotalBalance]="bankAccountsTotalBalance()"
      [fundSourcesTotalAmount]="fundSourcesTotalAmount()"
    />
  </section>
</div>
