<qs-navbar />
<main
  qsAnimation="fadeIn"
  class="pt-28 pb-12 mx-auto flex flex-col gap-8 w-[55%]
    tablet-md:w-[90%]
    tablet-sm:w-full tablet-sm:px-8
    mobile-md:px-6
  ">
  <div class="-ml-1">
    <a
      routerLink=".."
      matTooltip="Back we go!"
      class="inline-flex items-center gap-1">
      <qs-icon iconName="angle-left" aria-label="Left angle icon" [iconSize]="18"/>
      Back
    </a>
  </div>
  <header>
    <h1 class="font-secondary mb-4">Me When AFK</h1>
    <span class="text-sm text-gray">March 20, 2024</span>
  </header>
  <img
    sizes="(max-width: 2415px) 100vw, 2415px"
    srcset="
      assets/img/me-when-afk-banner-w_360.jpg 360w,
      assets/img/me-when-afk-banner-w_898.jpg 898w,
      assets/img/me-when-afk-banner-w_1298.jpg 1298w,
      assets/img/me-when-afk-banner-w_1648.jpg 1648w,
      assets/img/me-when-afk-banner-w_2086.jpg 2086w,
      assets/img/me-when-afk-banner-w_2415.jpg 2415w"
    src="assets/img/me-when-afk-banner-w_2415.jpg"
    alt="Article Banner"
    class="w-full"
  />
  <p>
    I'll probably just bore you if I tell you things about myself—it's pretty standard, nothing blockbuster. But if you're in the mood to read, here are some snippets from my non-coding hours.
  </p>

  <div>
    <h2 class="font-secondary font-semibold mb-4 text-accent-red inline-block" matTooltip="Meow...">
      Whiskers, Purrs, and Zoomies
    </h2>
    <p>
      Cats are my kind of people. Our place is a scratch hub for six indoor furballs and a few regular outsiders. Like most cat owners, I started with one—Tofu, a white Persian. He kinda paved the way for the others. We started taking in strays, and well, they just never left. When I am not glued to the screen, you'll find me catering to the royal highnesses—back and belly scratches, marathon support, or just a warm body they can nap on.
    </p>
  </div>

  <div>
    <h2 class="font-secondary font-semibold mb-4 text-accent-red">
      Dark Screen Enthusiast
    </h2>
    <p>
      I've got this thing for dark, twisted series and movies that really make you think (or overthink). Shows like <i class="font-semibold">BoJack Horseman</i>, <i class="font-semibold">Black Mirror</i> or <i class="font-semibold">Love, Death, and Robots</i>. They're not the typical feel-good flicks, but something about exploring those shadowy corners of human (and sometimes non-human) experience just hooks me. It's like a rollercoaster ride in the dark; you never know what twist or turn is coming next, but you're in for the ride all the same.
    </p>
    <p>
      But hey, it's not all doom and gloom on my watchlist. I definitely lighten things up with a good laugh from classic sitcoms like <i class="font-semibold">The Big Bang Theory</i>, <i class="font-semibold">Modern Family</i>, or shows like <i class="font-semibold">The Good Place</i> (shoutout to my girlfriend for suggesting this). <i class="font-semibold">Young Sheldon</i> gives me and my partner our dose of quirky humor. I am also down for some random documentaries, popular anime, or anything binge-worthy.
    </p>
  </div>

  <div>
    <h2 class="font-secondary font-semibold mb-4 text-accent-red">
      Joint Joysticks and Wheels
    </h2>
    <p>
      Maybe it's the coder in me, but I'm all about cracking puzzles and figuring stuff out. This is probably why I enjoy playing co-op games with my girlfriend. Our relationship thankfully survived <i class="font-semibold">It Takes Two</i>, we held up the fort at <i class="font-semibold">Overcooked</i> (1 & 2, plus all the extra goodies), went on adventures in <i class="font-semibold">Tiny Tina's Wonderlands</i>, and delivered some serious postal service in <i class="font-semibold">KeyWe</i>.
    </p>
    <p>
      Oh, and I also caught the F1 fever thanks to <i class="font-semibold">Drive to Survive</i>. I got myself a driving simulator setup (which, in hindsight, inconveniently takes up a lot of our tiny living room space). The die-hard fans might think, "Oh great, another bandwagoner!" and give me the side-eye, but I honestly enjoy the advanced tech and adrenaline rush, not just the hype.
    </p>
  </div>

  <div>
    <h2 class="font-secondary font-semibold mb-4 text-accent-red">
      Gambits and Knights
    </h2>
    <p>
      Chess is also my jam. I like plotting moves and outsmarting someone across the board. Sure, I am no grandmaster, but I play pretty competitively. I was a varsity player back in the day, but those were the glory days. I am now just a casual player. Whenever I'm in the mood for a quick breather or need a brain exercise, I jump online and have a few matches. It keeps me on my toes.
    </p>
  </div>

  <div>
    <h2 class="font-secondary font-semibold mb-4 text-accent-red">
      Jigsaw Snaps
    </h2>
    <p>
      There's nothing like the satisfaction of piecing together a complex image from a heap of scattered pieces. We have some accomplished puzzles hung up as badges of honor. Puzzles are just a good blend of fun and mental gymnastics, whether for lazy afternoons or whenever we're in the mood for a good brain teaser. It's a laid-back way to unwind.
    </p>
  </div>

  <div>
    <p>
      So there you have it—tidbits from my life when I'm not stressing out with code. Hopefully, you found something interesting or relatable. Thanks for tagging along on this mini tell-all. Stay awesome, and I'll catch you up on the flip side!
    </p>
  </div>
</main>
