<form class="my-12" [formGroup]="searchForm">
  <mat-form-field qsFormField>
    <mat-label>Origin</mat-label>
    <mat-select formControlName="origin">
      @for (option of sourceLocations; track option.value) {
        <mat-option [value]="option.value">
          {{ option.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="grid grid-cols-2 gap-4 mt-6 mb-4">
    <mat-form-field qsFormField>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        @for (option of categories; track option.value) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field qsFormField>
      <mat-label>Radius (m)</mat-label>
      <mat-select formControlName="radius">
        @for (option of radiusOptions; track option.value) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <button
    mat-flat-button
    color="primary"
    aria-label="Find Places"
    type="button"
    class="search-btn w-full"
    (click)="onSearch()"
  >
    {{ buttonLabel() }}
  </button>
</form>
