@use '@angular/material' as mat;

@use 'palettes/base-palette' as base_palette;
@use 'palettes/rose-palette' as rose_palette;

$primary: mat.m2-define-palette(rose_palette.$pink, 400);
$accent: mat.m2-define-palette(rose_palette.$royal-blue, 400);
$warn: mat.m2-define-palette(base_palette.$red, 400);
$typography: mat.m2-define-typography-config(
  $font-family: "Inter, 'Helvetica Neue', sans-serif",
);

/** Theme **/
$app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography,
    density: 0,
  )
);

@include mat.core();

html {
  @include mat.core-theme($app-theme);
  @include mat.table-theme($app-theme);
  @include mat.tabs-theme($app-theme);
  @include mat.button-theme($app-theme);
  @include mat.form-field-theme($app-theme);
  @include mat.input-theme($app-theme);
  @include mat.snack-bar-theme($app-theme);
}

// Additional imports
@use 'base';
@use 'rose-theme';

h1,
h2,
h3 {
  font-family: Oswald, 'Helvetica Neue', sans-serif;
}

body {
  font-family: Inter, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}
