@use '@angular/material' as mat;

@import 'palettes/base-palette';
@import 'palettes/rose-palette';

$primary: mat.m2-define-palette($pink, 400);
$accent: mat.m2-define-palette($royal-blue, 400);
$warn: mat.m2-define-palette($red, 400);
$typography: mat.m2-define-typography-config(
  $font-family: "Inter, 'Helvetica Neue', sans-serif",
);

/** Theme **/
$app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography,
    density: 0,
  )
);

@include mat.core();

html {
  @include mat.core-theme($app-theme);
  @include mat.table-theme($app-theme);
  @include mat.tabs-theme($app-theme);
  @include mat.button-theme($app-theme);
}

// Additional imports
@import 'base';
@import 'rose-theme';

h1 {
  font-family: Oswald, 'Helvetica Neue', sans-serif;
}

body {
  font-family: Inter, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}
