@import 'mixins';

.container {
  // Provide space for the absolute footer
  padding-bottom: 200px;
}

.section-title-wrapper {
  margin-top: 120px;

  .section-title {
    font-size: 3rem;
    font-weight: 800;

    &:after {
      height: 12px;
      bottom: 12px;
    }
  }
}

.split-1 {
  padding: 5% 5% 5% 25%;
}

.split-2 {
  padding: 0 5%;

  .msg-wrapper {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 420px;
  }

  .socials-wrapper {
    margin-top: 64px;

    .socials-title,
    .social-item {
      font-family: var(--font-accent-family);
      color: var(--body-gray);
    }

    .socials-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: var(--spacing-lg);
    }

    .social-item {
      font-size: 1.25rem;

      a {
        border-bottom: solid 2px var(--body-gray);
      }

      &:hover {
        color: var(--color-accent-purple);

        a {
          border-color: var(--color-accent-purple);
        }
      }
    }
  }
}

.footer-wrapper {
  color: var(--body-gray);
  font-size: var(--font-size-sm);
  bottom: var(--spacing-md);
  font-family: var(--font-accent-family);

  p {
    margin-bottom: 0;
  }
}

@include respond-to('desktop-sm') {
  .grid-container {
    grid-template-columns: 60% auto;
  }

  .split-1 {
    padding: var(--spacing-xl);
  }

  .split-2 {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);

    .msg-wrapper {
      font-size: 1.375rem;
    }
  }
}

@include respond-to('tablet-md') {
  .grid-container {
    grid-template-columns: 65% auto;
  }

  .split-1 {
    padding: var(--spacing-lg);
    padding-left: var(--spacing-xl);
  }

  .split-2 {
    padding-left: var(--spacing-lg);

    .msg-wrapper {
      font-size: 1.25rem;
    }
  }
}

@include respond-to('tablet-sm') {
  .container {
    padding-bottom: 148px;
  }

  .split-1,
  .split-2 {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
  }

  .split-2 {
    .msg-wrapper {
      margin-top: var(--spacing-lg);
      max-width: none;
    }

    .socials-wrapper {
      margin-top: 48px;
      margin-bottom: 76px;

      .socials-title {
        font-size: 1.25rem;
        margin-bottom: var(--spacing-md);
      }

      .socials-list {
        flex-direction: row;
      }
    }
  }
}

@include respond-to('mobile-md') {
  .split-1,
  .split-2 {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
  }

  .section-title-wrapper {
    .section-title {
      font-size: 11dvw;

      &:after {
        height: 12px;
        bottom: 3dvw;
      }
    }
  }

  .split-2 {
    .socials-wrapper {
      .socials-list {
        flex-direction: column;
      }
    }
  }
}

@include respond-to('mobile-sm') {
  .section-title-wrapper {
    .section-title {
      &:after {
        height: 10px;
        bottom: 10px;
      }
    }
  }
}
