<div class="container min-h-dvh overflow-hidden relative">
  <div class="section-title-wrapper text-center w-full" qsAnimation="fadeInDown">
    <h2
      class="section-title text-underlined"
      qsAnimation
      animHover="wobbleVertical"
      matTooltip="Up for a chat?"
    >
      Let's Connect
    </h2>
  </div>
  <div class="grid-container grid grid-cols-2">
    <div class="split-1 flex flex-col justify-center tablet-sm:col-span-2">
      <qs-contact-form qsAnimation="fadeIn" />
    </div>

    <div class="split-2 flex flex-col justify-center tablet-sm:col-span-2">
      <div class="msg-wrapper font-secondary text-accent-purple">
        <p qsAnimation="flipInX" animHover="grow">
          Got a question? Wanted to say hi? I'm all ears!
        </p>
        <p qsAnimation="flipInX" animHover="grow">Hit me up and I'll try my best to get back.</p>
      </div>
      <div class="socials-wrapper">
        <h3 class="socials-title text-gray font-secondary" qsAnimation="fadeIn">Socials:</h3>
        <ul class="socials-list flex gap-4 desktop-sm:flex-col">
          @for (social of socialLinks; track $index) {
            <li class="social-item text-gray font-secondary">
              <a
                target="_blank"
                class="inline-block"
                rel="noreferrer noopener"
                qsAnimation="rotateIn"
                animHover="rubberBand"
                [href]="social.url"
                >{{ social.name }}</a
              >
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div
    class="footer-wrapper text-gray text-sm absolute flex flex-col items-center justify-center w-full gap-1 font-secondary"
  >
    <img
      ngSrc="assets/img/espresso.gif"
      priority
      placeholder
      width="50"
      height="50"
      alt="Espresso machine"
      aria-hidden="true"
      qsAnimation="fadeInUp"
    />
    <div qsAnimation="fadeInUp" class="text-center">
      <p class="text-sm z-20">My personal brew of code © 2024</p>
      <a
        href="mailto:contact@dreiq.dev"
        class="z-20"
        aria-label="Send an email"
        matTooltip="Please... do not spam me."
      >
        contact&#64;dreiq.dev
      </a>
    </div>
  </div>
</div>
