<div class="h-full overflow-hidden grid grid-cols-2 relative">
  <div class="section-title-wrapper absolute text-center w-full" qsAnimation="fadeInDown">
    <h2
      class="section-title text-underlined"
      qsAnimation
      animHover="wobbleVertical"
      matTooltip="Up for a chat?"
    >
      Get In Touch
    </h2>
  </div>
  <div class="split-1 flex flex-col justify-center">
    <qs-contact-form qsAnimation="fadeIn" />
  </div>

  <div class="split-2 flex flex-col justify-center">
    <div class="msg-wrapper text-accent">
      <p qsAnimation="flipInX" animHover="grow">Got a question? Wanted to say hi? I'm all ears!</p>
      <p qsAnimation="flipInX" animHover="grow">Hit me up and I'll try my best to get back.</p>
    </div>
    <div class="socials-wrapper">
      <h3 class="socials-title" qsAnimation="fadeIn">Socials:</h3>
      <ul class="socials-list flex gap-4">
        @for (social of socialLinks; track $index) {
          <li class="social-item" qsAnimation="rotateIn" animHover="rubberBand">
            <a target="_blank" rel="noreferrer noopener" class="underline" [href]="social.url">{{
              social.name
            }}</a>
          </li>
        }
      </ul>
    </div>
  </div>
  <div class="footer-wrapper absolute flex flex-col gap-2 text-right">
    <p class="text-sm z-20" qsAnimation="fadeInRight">// My personal brew of code © 2024</p>
    <a
      href="mailto:contact@dreiq.dev"
      class="z-20"
      aria-label="Send an email"
      qsAnimation="fadeInRight"
      matTooltip="Please... do not spam me."
    >
      contact&#64;dreiq.dev
    </a>
    <img
      src="assets/svg/k84qvd.svg"
      class="absolute z-10 footer-blob"
      alt="Footer Blob"
      aria-hidden="true"
    />
  </div>
</div>
