.section-title-wrapper {
  margin-top: 120px;

  .section-title {
    font-size: 3rem;
    font-weight: 800;

    &:after {
      height: 12px;
      bottom: 12px;
    }
  }
}

.split-1 {
  padding: 25%;
  padding-right: 5%;
}

.split-2 {
  padding-left: 5%;

  .msg-wrapper {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 420px;
  }

  .socials-wrapper {
    margin-top: 64px;

    .socials-title,
    .social-item {
      font-family: var(--accent-font);
      color: var(--body-gray);
    }

    .socials-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: var(--spacing-lg);
    }

    .social-item {
      font-size: 1.25rem;
    }
  }
}

.footer-wrapper {
  color: var(--body-gray);
  font-size: var(--font-size-sm);
  bottom: var(--spacing-md);
  right: var(--spacing-md);

  p {
    margin-bottom: 0;
  }

  .footer-blob {
    bottom: -132px;
    right: -64px;
    width: 300px;
  }
}
