@import 'mixins';

.container {
  gap: 96px;
}

.split-1 {
  qs-contact-form {
    display: block;
    max-width: 600px;
  }

  .blob {
    top: -94px;
    right: 118px;
    margin: 0 auto;
  }
}

.split-2 {
  .greeting-txt {
    font-size: 10rem;
    line-height: 13rem;
    color: var(--color-gray-700);
    font-weight: 800;

    .greeting-ch {
      transition: color ease-in-out 0.3s;

      &:hover {
        color: var(--color-primary);
      }
    }

    .dot {
      background-color: var(--color-primary);
      width: 42px;
      margin-left: 12px;
      height: 42px;
      border-radius: 50%;
      vertical-align: unset;
    }
  }

  .message {
    font-size: 1.5rem;
    font-weight: 300;
    max-width: 420px;
    margin-bottom: var(--spacing-lg);
    padding-left: 6px;
    line-height: 2rem;
  }
}

@include respond-to('desktop-md') {
  .container {
    padding: var(--spacing-xl);
    gap: 48px;
  }

  .split-1 {
    qs-contact-form {
      max-width: 520px;
    }

    .blob {
      width: 540px;
      right: 80px;
      top: -90px;
    }
  }

  .split-2 {
    .greeting-txt {
      font-size: 9.5rem;
      line-height: 12rem;
    }

    .message {
      font-size: 1.25rem;
    }
  }
}

@include respond-to('desktop-sm') {
  .container {
    gap: 32px;
  }

  .split-1 {
    padding-left: 5%;
  }

  .split-2 {
    .speech-bubble {
      width: 85px;
    }

    .greeting-txt {
      font-size: 13dvw;
      line-height: normal;

      .dot {
        width: 3.2dvw;
        height: 3.2dvw;
      }
    }
  }
}

@include respond-to('tablet-md') {
  .split-1 {
    order: 2;
    padding-left: 0;
    justify-content: center;

    .blob {
      right: 13%;
      top: -65px;
      transform: rotate(287deg);
      width: 550px;
    }
  }

  .split-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 64px;

    .speech-bubble {
      width: 100px;
    }

    .greeting-txt {
      font-size: 8rem;
      line-height: 10rem;
      padding-left: 12px;

      .dot {
        height: 28px;
        width: 28px;
      }
    }
  }
}

@include respond-to('mobile-md') {
  .container {
    padding: var(--spacing-lg);
  }

  .split-1 {
    .blob {
      transform: rotate(157deg);
      width: 500px;
      right: 1%;
      top: -47px;
    }
  }

  .split-2 {
    .greeting-txt {
      font-size: 25dvw;
    }

    .message {
      font-size: 1.125rem;
    }
  }
}
