<qs-navbar />
<div
  qsAnimation="fadeIn"
  class="overflow-hidden min-h-dvh grid grid-cols-2 items-center gap-24
    desktop-md:gap-12 desktop-md:p-8
    desktop-sm:gap-8
    mobile-md:gap-6
  ">
  <div
    class="flex justify-end relative
      desktop-sm:pl-[5%]
      tablet-md:col-span-2 tablet-md:order-2 tablet-md:pl-0 tablet-md:justify-center
    ">
    <qs-contact-form
      qsAnimation="fadeIn"
      class="block z-10 max-w-[600px] desktop-md:max-w-[520px]"
    />
    <img
      src="assets/svg/n7abku.svg"
      alt="Contact form blob"
      aria-hidden="true"
      qsAnimation="zoomIn"
      class="absolute mx-auto -top-[94px] right-[118px] -z-10
        desktop-md:w-[540px] desktop-md:right-[80px] desktop-md:-top-[90px]
        tablet-md:right-[13%] tablet-md:-top-[65px] tablet-md:transform-[rotate(287deg)] tablet-md:w-[550px]
        mobile-md:transform-[rotate(157deg)] mobile-md:-top-[47px] mobile-md:right-[1%] mobile-md:w-[500px]
      "
    />
  </div>
  <div
    class="tablet-md:col-span-2 tablet-md:order-1 tablet-md:flex tablet-md:flex-col tablet-md:items-center tablet-md:text-center tablet-md:pt-16">
    <img
      ngSrc="assets/img/speech-bubble.gif"
      priority
      width="100"
      height="100"
      placeholder
      alt="Speech bubble"
      aria-label="speech bubble animated icon"
      qsAnimation="fadeInDown"
      matTooltip="Type away!"
      class="desktop-sm:w-[85px] tablet-md:w-[100px]"
      [animDuration]="1.5"
    />
    <h1
      aria-label="hello"
      class="text-gray-700 font-extrabold text-[10rem] leading-[13rem]
        desktop-md:text-[9.5rem] desktop-md:leading-[12rem]
        desktop-sm:text-[13dvw] desktop-sm:leading-normal
        tablet-md:text-9xl tablet-md:leading-[10rem] tablet-md:pl-3
        mobile-md:text-[25dvw]
      "
    >
      @for (ch of greetingTxt; track $index) {
        <span
          aria-hidden="true"
          qsAnimation="fadeInLeft"
          animHover="rubberBand"
          class="inline-block transition-[color] hover:text-primary"
          [animDuration]="1.5"
        >
          {{ ch }}
        </span>
      }
      <span
        aria-hidden="true"
        qsAnimation="fadeInLeft"
        animHover="floatShadow"
        class="inline-block bg-primary w-11 aspect-square ml-3 rounded-full align-baseline
          desktop-sm:w-[3.2dvw] tablet-md:w-7
        "
      ></span>
    </h1>
    <div class="flex flex-col">
      @for (msg of messages; track $index) {
        <p qsAnimation="fadeInUp" animHover="grow"
          class="message text-gray text-2xl font-light mb-6 leading-8 pl-[6px] max-w-[420px]
            desktop-md:text-xl mobile-md:text-lg"
          [innerHTML]="msg">
        </p>
      }
    </div>
  </div>
</div>
