<qs-navbar />
<div class="min-h-dvh grid grid-cols-2 items-center gap-24">
  <div class="split-1 flex justify-end relative">
    <qs-contact-form class="z-10" />
    <img
      src="assets/svg/n7abku.svg"
      alt="Contact form blob"
      aria-hidden="true"
      class="absolute blob"
    />
  </div>
  <div class="split-2">
    <img
      src="assets/img/speech-bubble.gif"
      width="100"
      alt="Speech bubble"
      aria-label="speech bubble animated icon"
    />
    <h1 class="greeting-txt" aria-label="hello">
      @for (ch of greetingTxt; track $index) {
        <span class="greeting-ch" aria-hidden="true">{{ ch }}</span>
      }
      <span class="dot inline-block" aria-hidden="true"></span>
    </h1>
    <p class="message">Clarifications? Questions? Let's hear them — I won't bite.</p>
    <p class="message">My inbox is always open!</p>
  </div>
</div>
