<div class="flex h-dvh overflow-hidden">
  <app-sidebar
    class="sidebar shadow-sidebar relative z-10 w-[600px] bg-white h-full
      desktop-sm:w-[560px]
      tablet-sm:w-[460px]
      mobile-md:w-[90%]"
    [class.closed]="!isSidebarOpen()"
    (toggleSidebar)="isSidebarOpen.set($event)"
    (toggleDirections)="showDirections($event)"
  />
  <div class="bg-gray-400 flex-grow">
    <google-map mapId="nearbai-map" height="100%" width="100%" [options]="mapOptions()" (mapInitialized)="onMapInitialized($event)">
      @for (result of searchResults(); track result.id) {
        @if (result.location) {
          <map-advanced-marker
            #marker="mapAdvancedMarker"
            [position]="result.location"
            [content]="result.markerElement ?? null"
            (mapClick)="onMarkerClick(marker, result)"
          />
        }
      }

      @if (currentCenter()) {
        <map-advanced-marker
          #marker="mapAdvancedMarker"
          [position]="currentCenter()?.location!"
          [content]="currentCenter()?.markerElement ?? null"
          [zIndex]="1000"
          (mapClick)="onMarkerClick(marker, 'center')"
        />
      }

      <map-info-window>
        @if (activeMarker()?.id === 'center') {
          <span class="text-sm text-gray">Center</span>
        }
        <h4 class="text-default-color text-sm mb-2 font-bold">{{ activeMarker()?.name }}</h4>

        @if (activeMarker()?.id !== 'center') {
          <div class="flex flex-col gap-1 text-sm text-gray">
            <div class="flex items-center gap-2">
              <qs-icon class="mb-[2px] text-red" iconName="location-dot" iconStyle="solid" [iconSize]="14" />
              {{ activeMarker()?.address }}
            </div>
            <div class="flex items-center gap-2">
              <qs-icon class="mb-[2px] text-primary" iconName="star" iconStyle="solid" [iconSize]="14" />
              {{ activeMarker()?.ratingsText }}
            </div>
          </div>
        }
      </map-info-window>
    </google-map>
  </div>
</div>
