<div class="grid grid-cols-[600px_auto] h-dvh overflow-hidden">
  <div class="p-6 shadow-sidenav z-10">
    <header>
      <h1 class="mb-4 flex items-end gap-2">
        <img src="assets/img/map.gif" alt="Map" aria-hidden="true" width="50" class="pt-1" />
        NearBai
      </h1>
      <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in erat ut massa auctor molestie. Donec cursus elit sapien, at scelerisque lectus ornare a. Quisque quis dapibus risus.</p>
    </header>

    <qs-search-form (search)="onSearch($event)" />

    @if (showResults()) {
      <div>
        <h2 class="text-gray font-semibold text-base font-">
          Results:
        </h2>

        <div class="h-[420px] overflow-y-auto py-4 mt-4 pr-4">
          @for (result of searchResults(); track result.id) {
            <div class="card bg-white rounded-lg overflow-hidden flex items-center justify-between gap-4 pr-4 mb-6">
              <div class="grid grid-cols-[100px_auto] gap-2">
                <div class="bg-gray-100 h-full flex items-center overflow-hidden">
                  <img
                    loading="lazy"
                    class="w-[100px] h-[120px] object-cover"
                    [src]="result.imgUrl"
                    [alt]="result.name"
                  />
                </div>
                <div class="py-4 px-2">
                  <header>
                    <qs-pill [text]="result.isOpen ? 'Open' : 'Closed'" [ngClass]="result.isOpen ? 'open' : 'closed'" />
                    <h3 class="m-0 text-lg">{{ result.name }}</h3>
                  </header>
                  <div class="text-gray text-sm mt-1 flex flex-col gap-1">
                    <div class="flex items-center gap-2">
                      <qs-icon class="mb-[2px] text-warn" iconName="location-dot" iconStyle="solid" [iconSize]="14" />
                      <span>{{ result.address }}</span>
                    </div>
                    <div class="flex items-center gap-2">
                      <qs-icon class="mb-[2px] text-primary" iconName="star" iconStyle="solid" [iconSize]="14" />
                      @if (result.ratings !== undefined) {
                        <span>{{ result.ratings }}</span>
                        @if (result.ratingsTotal) {
                          <span>({{ result.ratingsTotal }} reviews)</span>
                        }
                      } @else {
                        <span>No reviews</span>
                      }
                    </div>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="flex flex-col gap-2 items-center justify-center text-sm
                  hover:text-primary"
                (click)="showDirections(result.location)"
              >
                <qs-icon iconName="diamond-turn-right" iconStyle="light" />
                <span>Directions</span>
              </button>
            </div>
          }
        </div>

      </div>
    }
  </div>
  <div class="bg-gray-400">
    <google-map height="100%" width="100%" [options]="mapOptions()" (mapInitialized)="onMapInitialized($event)"/>
  </div>
</div>
