<div class="grid grid-cols-[600px_auto] h-dvh overflow-hidden">
  <div class="p-6 shadow-sidenav z-10">
    <header>
      <h1 class="mb-4 flex items-end gap-2">
        <img src="assets/img/map.gif" alt="Map" aria-hidden="true" width="50" class="pt-1" />
        Nearbai
      </h1>
      <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in erat ut massa auctor molestie. Donec cursus elit sapien, at scelerisque lectus ornare a. Quisque quis dapibus risus.</p>
    </header>
    <qs-search-form (search)="onSearch($event)"/>
  </div>
  <div class="bg-gray-400">
    <google-map height="100%" width="100%" [options]="mapOptions()" (mapInitialized)="onMapInitialized($event)"/>
  </div>
</div>
