.panel {
  background-image: url('/images/custom-border.svg');
  width: 600px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  visibility: hidden;
  cursor: pointer;
  // Scale non-active panels down for a better visual effect
  transform: scale(0.8);

  &.active {
    transform: scale(1);
    opacity: 1;
    visibility: hidden;
  }

  &:hover {
    opacity: 1 !important; // bypass animation opacity set by the animation library in the typescript file
    background-color: #e4dcd1;
  }
}

.scroll-container {
  position: relative;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

// Hide scrollbars for smooth scrolling experience
.panels-container {
  background-color: transparent;
  position: relative;
}

#invitees {
  position: relative;
  margin-bottom: 48px;

  &::after {
    content: url('/images/accent-line.svg');
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
}

button.pagination-btn {
  min-width: 0;
}

.wedding-car {
  transition: opacity 0.3s ease-in-out;
}
