<div class="
  relative overflow-hidden rounded-[32px] bg-white p-12 drop-shadow
  desktop-md:rounded-2xl desktop-md:p-8 desktop-md:pt-10
  mobile-sm:p-6 mobile-sm:pt-7"
>
  @if (showOverlay()) {
    <div class="form-overlay absolute left-0 top-0 z-10 flex h-full w-full flex-col items-center justify-center">
      @if (sendingDone()) {
        @if (!hasErrors()) {
          <p class="bg-primary text-accent mx-4 my-0 rounded-lg px-3 py-2 text-center text-sm">
            Sent! Thank you for reaching out. I'll get back the soonest.
          </p>
        } @else {
          <p class="bg-accent-red mx-4 my-0 rounded-lg px-3 py-2 text-center text-sm text-white">
            Uhm... Something went wrong there. We can still do this the old-school way. Hit my inbox
            at
            <a href="mailto:contact@dreiq.dev" aria-label="Send an direct email" class="underline text-accent hover:text-accent-300">
              contact&#64;dreiq.dev</a>&period;
          </p>
        }
      } @else {
        <div class="loader w-[80px] p-[10px] aspect-square bg-white grid mix-blend-darken"></div>
        <p class="bg-primary-50 text-gray mx-4 my-0 rounded-lg px-3 py-2 text-center text-sm">
          Hang tight—your message is on its way.
        </p>
      }
      <button
        class="text-gray absolute bottom-4 mx-auto mt-2 px-2 py-1 text-sm"
        type="button"
        aria-label="Close"
        (click)="showOverlay.set(false)"
      >
        close
      </button>
    </div>
  }
  <form class="flex flex-col gap-1" autocomplete="on" [formGroup]="contactForm">
    <qs-input
      label="Name"
      control="name"
      name="name"
      qsAnimation="fadeInUp"
      matTooltip="Alias, superhero name, or just plain ol' you — who am I chatting with?"
      [hideRequiredMarker]="true"
      [errorMsgMap]="{
        required: 'Oops! Looks like you forgot to tell me your name.',
        maxlength: 'That\'s a long name you got there. Mind shortening it?'
      }"
    />
    <qs-input
      label="Email"
      control="email"
      name="email"
      qsAnimation="fadeInUp"
      matTooltip="Your portal for virtual hellos. Promise, this is not for spams."
      [animDelay]="0.25"
      [hideRequiredMarker]="true"
      [errorMsgMap]="{
        required: 'Pinky promise, I am not going to use your email for spams (and scams).',
        email: 'Oops! That email address doesn\'t look right.'
      }"
    />
    <qs-input
      label="Subject"
      control="subject"
      name="subject"
      qsAnimation="fadeInUp"
      matTooltip="Give me a hint — what's brewing?"
      [animDelay]="0.5"
      [hideRequiredMarker]="true"
      [errorMsgMap]="{
        required: 'Looks like we\'re missing a subject here.',
        maxlength: 'At this point, your subject can already be your message.'
      }"
    />
    <qs-textarea
      label="Message"
      control="message"
      name="message"
      qsAnimation="fadeInUp"
      matTooltip="Got a story? The floor is yours."
      [animDelay]="0.75"
      [hideRequiredMarker]="true"
      [errorMsgMap]="{
        required: 'We\'ve got a blank message field here.'
      }"
    />

    <button
      type="button"
      class="btn primary outlined !text-default-color mt-6 self-end !px-5 !py-4"
      aria-label="Submit"
      qsAnimation="fadeInRight"
      animHover="bounceToRight"
      [animDelay]="1"
      [disabled]="submitDisabled()"
      [matTooltip]="
        submitDisabled() ? 'Oops... The form isn\'t error-free just yet' : 'Lezzgooo...'
      "
      (click)="onSubmitForm()"
    >
      Send Message
    </button>
  </form>
</div>

<ng-template #errorTmpl let-message>
  <span class="error-msg">
    {{ message }}
  </span>
</ng-template>
