<div class="h-full overflow-hidden grid grid-cols-2 relative">
  <div class="split-1 flex flex-col items-center justify-center gap-8">
    <h2
      class="split-title font-extrabold text-underlined"
      qsAnimation="slideInLeft"
      animHover="wobbleVertical"
    >
      Core Skills
    </h2>
    <div class="split-content-wrapper flex" qsAnimation="slideInLeft">
      @for (skill of coreSkills; track $index) {
        <figure class="skill-wrapper flex flex-col items-center gap-8">
          <img
            class="skill-logo"
            [attr.aria-label]="skill.name + ' logo'"
            [src]="'assets/svg/' + skill.logo + '.svg'"
            [alt]="skill.logo"
            [id]="skill.logo + '-logo'"
            (mouseenter)="rotateElement('#' + skill.logo + '-logo', 360)"
            (mouseleave)="rotateElement('#' + skill.logo + '-logo', 0)"
          />
          <figcaption class="skill-label font-light" [matTooltip]="skill.tooltip">
            {{ skill.name }}
          </figcaption>
        </figure>
      }
    </div>
  </div>
  <div class="split-2 flex flex-col justify-center">
    <h2 class="split-title flex items-center gap-2" qsAnimation="fadeIn">
      Extra Tools
      <qs-icon
        id="tool-icon"
        iconName="tools"
        iconStyle="custom"
        aria-hidden="true"
        matTooltip="Weeee..."
        [iconSize]="32"
        (mouseenter)="rotateElement('#tool-icon', 360)"
        (mouseleave)="rotateElement('#tool-icon', 0)"
      />
    </h2>
    <p class="split-subtitle" qsAnimation="fadeIn">Additional technologies up my sleeve.</p>
    @for (tool of otherTools; track $index) {
      <div class="mt-6">
        <h3
          class="tool-title font-bold uppercase inline-block"
          qsAnimation="fadeInDown"
          animHover="wobbleSkew"
          [matTooltip]="tool.tooltip"
        >
          {{ tool.key }}
        </h3>
        <ul class="items-wrapper flex gap-4 mb-4">
          @for (item of tool.items; track $index) {
            <li class="tool-item" qsAnimation="slideInRight" animHover="floatShadow">
              {{ item }}
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
