<div class="container h-full">
  <div class="section-title-wrapper absolute left-0 right-0 mx-auto text-center">
    <h2 class="section-title text-underlined">Toolbox</h2>
  </div>
  <div class="first flex items-center justify-center flex-col gap-8">
    <h3 class="text-4xl uppercase font-bold">Core Skills</h3>
    <div class="core-skills-wrapper flex">
      @for (item of coreSkills; track $index) {
        <figure class="skill-wrapper flex flex-col items-center gap-8">
          <img
            src="assets/svg/{{ item.logo }}.svg"
            class="skill-logo"
            [alt]="item.name"
            aria-label="Angular Logo"
          />
          <figcaption class="skill-label font-light">{{ item.name }}</figcaption>
        </figure>
      }
    </div>
  </div>
  <div class="content-wrapper flex items-center justify-center"></div>
</div>
