@use '@angular/material' as mat;

@use '_palettes/base-palette' as base-palette;
@use '_palettes/eden-palette' as eden-palette;
@use 'base' as base;
@use 'eden-theme' as eden;
@use 'mixins' as *;

$primary: mat.m2-define-palette(eden-palette.$green, 400);
$accent: mat.m2-define-palette(eden-palette.$copper, 400);
$warn: mat.m2-define-palette(base-palette.$red, 400);
$typography: mat.m2-define-typography-config(
  $font-family: "Sour Gummy, 'Helvetica Neue', sans-serif",
);

/** Theme **/
$app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography,
    density: 0,
  )
);

@include mat.core();

@include mat.core-theme($app-theme);
@include mat.expansion-theme($app-theme);
@include mat.form-field-theme($app-theme);
@include mat.input-theme($app-theme);
@include mat.button-theme($app-theme);
@include mat.tooltip-theme($app-theme);
@include mat.dialog-theme($app-theme);
@include mat.radio-theme($app-theme);
@include mat.checkbox-theme($app-theme);

@include eden.apply-theme($app-theme);
@include eden.apply-variables(eden-palette.$palette);

@font-face {
  font-family: 'Flapstick';
  src:
    url('/fonts/FlapstickDEMO.woff2') format('woff2'),
    url('/fonts/FlapstickDEMO.woff') format('woff'),
    url('/fonts/FlapstickDEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  --font-body: 'Sour Gummy', serif;
  --font-heading: 'Lilita One', serif;
  --font-subheading: 'Anonymous Pro', monospace;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-family: var(--font-heading);
  font-size: 4rem;
}

h2 {
  font-size: 1.75rem;
}

a {
  color: var(--color-toupe-500);

  &:hover {
    color: var(--color-toupe-600);
  }
}

.section-header {
  font-family: var(--font-heading);
  font-size: 3rem;
  border: solid 4px var(--color-primary);
  border-radius: 10px;
  padding: 10px 24px;

  @include respond-to('tablet-md') {
    font-size: 2.5rem;
  }

  @include respond-to('mobile-sm') {
    font-size: 2.25rem;
    padding: 10px 16px;
  }
}

.slidebar {
  background-color: var(--color-primary);
  color: var(--text-body-light);

  .slidebar-close-btn {
    color: var(--color-gray-50);
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.mat-mdc-dialog-panel.rsvp-dialog {
  .dialog-header {
    border-bottom: 0;
  }

  .mat-mdc-dialog-content {
    padding-top: 0;
  }
}
