@use '@angular/material' as mat;

@use '_palettes/base-palette' as base-palette;
@use '_palettes/eden-palette' as eden-palette;
@use 'base' as base;
@use 'eden-theme' as eden;

$primary: mat.m2-define-palette(eden-palette.$green, 400);
$accent: mat.m2-define-palette(eden-palette.$copper, 400);
$warn: mat.m2-define-palette(base-palette.$red, 400);
$typography: mat.m2-define-typography-config(
  $font-family: "Sour Gummy, 'Helvetica Neue', sans-serif",
);

/** Theme **/
$app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography,
    density: 0,
  )
);

@include mat.core();

@include mat.core-theme($app-theme);
@include mat.expansion-theme($app-theme);
@include mat.form-field-theme($app-theme);
@include mat.input-theme($app-theme);
@include mat.button-theme($app-theme);
@include mat.tooltip-theme($app-theme);
@include mat.dialog-theme($app-theme);
@include mat.radio-theme($app-theme);

@include eden.apply-theme($app-theme);
@include eden.apply-variables(eden-palette.$palette);

@font-face {
  font-family: 'Flapstick';
  src:
    url('/fonts/FlapstickDEMO.woff2') format('woff2'),
    url('/fonts/FlapstickDEMO.woff') format('woff'),
    url('/fonts/FlapstickDEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  --font-heading: 'Lilita One', serif;
  --font-subheading: 'Anonymous Pro', monospace;
}

body {
  font-family: 'Sour Gummy', serif;
  background:
    linear-gradient(to right, #f7efe4, #dfd4c5),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E")
      center/200px;
  background-blend-mode: overlay;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-family: var(--font-heading);
  font-size: 4rem;
}

h2 {
  font-size: 1.75rem;
}

a {
  color: var(--color-toupe-500);

  &:hover {
    color: var(--color-toupe-600);
  }
}

.section-header {
  font-family: var(--font-heading);
  font-size: 3rem;
  border: solid 4px var(--color-primary);
  border-radius: 10px;
  padding: 10px 24px;
}

.slidebar {
  background-color: var(--color-primary);
  color: var(--text-body-light);

  .slidebar-close-btn {
    color: var(--color-gray-50);
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}
