<div class="h-full flex flex-col items-center relative overflow-x-clip pt-18 pb-[200px] p-8">
  <header class="flex flex-col items-center">
    <div qsAnimation="fadeIn" animHover="floatShadow" [animDelay]="0.5">
      <img
        ngSrc="assets/img/cup.gif"
        priority
        alt="Coffee cup"
        class="coffee-cup"
        width="100"
        height="100"
      />
    </div>
    <h2
      qsAnimation="fadeInDown"
      animHover="wobbleSkew"
      matTooltip="Just out of the coffee pot: Some latest random thoughts and listicles."
      class="text-underlined text-center font-extrabold mt-2 mb-8 text-[4rem] leading-[6rem]
        after:h-3 after:bottom-5
        tablet-sm:text-[3.2rem] tablet-sm:after:h-3 tablet-sm:after:bottom-6
        mobile-md:text-[10dvw] mobile-md:leading-[3.375rem] mobile-md:after:h-[10px] mobile-md:after:bottom-1
        mobile-sm:leading-[3rem] mobile-sm:after:bottom-2
      "
    >
      Freshly Brewed
    </h2>
    <p
      qsAnimation="fadeInUp"
      class="text-center text-gray leading-6 px-6 mobile-md:px-8 mobile-sm:px-4">
      Yep! I sometimes write stuff—anything under the sun.
    </p>
  </header>
  <div
    class="my-12 z-20 mt-12 grid grid-cols-3 gap-12 mx-auto justify-items-center w-fit
      desktop-md:gap-8
      desktop-sm:grid-cols-2
      tablet-sm:grid-cols-1
    ">
    @for (post of posts(); track $index) {
      <qs-article-card
        qsAnimation="flipInY"
        animHover="grow"
        [animDuration]="2"
        [article]="post"
        [showImage]="false"
      />
    }
  </div>
  <a
    routerLink="/blog"
    target="_blank"
    rel="noreferrer noopener"
    aria-label="View all blogs"
    class="btn accent outlined z-20 mt-8"
    qsAnimation="flipInX"
    animHover="bounceToRight"
    [animDelay]="0.5"
  >
    View Archives
  </a>
  <div class="absolute left-0 right-0 mx-auto my-0 w-fit z-20 bottom-1 *:z-20">
    <div class="flex">
      <img
        src="assets/svg/cursive-arrow.svg"
        alt="Cursive arrow for contact section"
        aria-label="Arrow direction for contact section"
        qsAnimation="rotateIn"
        animHover="wobbleVertical"
        class="max-w-[45%] min-w-20"
      />
      <div class="-mt-4" qsAnimation="rotateInUpLeft" animHover="rotate">
        <span class="font-semibold inline-block font-secondary text-accent-purple -rotate-6">
          Want to get in touch?
        </span>
      </div>
    </div>
  </div>
  <img
    class="absolute -z-10 -left-[400px] top-[15%]"
    src="assets/svg/3wdna7.svg"
    aria-hidden="true"
    alt="Blob background"
    qsAnimation="fadeIn"
  />
  <img
    class="absolute -z-10 -bottom-[76px] -right-[120px] rotate-[80deg] desktop-sm:bottom-[100px]"
    src="assets/svg/kwcu73.svg"
    aria-hidden="true"
    alt="Blob background"
    qsAnimation="fadeIn"
  />
</div>
