@import 'mixins';

.container {
  padding: 72px 32px 0;
}

.section-title {
  font-size: 4rem;
  font-weight: 800;
  line-height: 6rem;
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-xl);

  &:after {
    height: 12px;
    bottom: 18px;
  }
}

.subtitle {
  color: var(--body-gray);
  line-height: 1.5rem;
}

.post-panel-wrapper {
  background-color: white;
  box-shadow: var(--drop-shadow);
  max-width: 300px;
  background-repeat: no-repeat;
  border-radius: var(--spacing-sm);

  .post-panel {
    padding: var(--spacing-lg);

    .post-title {
      margin: 0;
      margin-bottom: var(--spacing-md);
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .post-excerpt {
      color: var(--accent-purple);
      line-height: 1.5rem;
    }

    .post-date {
      font-size: 0.75rem;
      color: var(--body-gray);
    }
  }
}

.next-section {
  bottom: 4px;

  * {
    z-index: 2;
  }

  .text-wrapper {
    margin-top: -16px;

    span {
      font-family: var(--accent-font);
      color: var(--accent-purple);
      transform: rotate(-6deg);
    }
  }

  img {
    max-width: 45%;
    min-width: 80px;
  }
}

.blob-bg-1,
.blob-bg-2 {
  z-index: -1;
}

.blob-bg-1 {
  left: -400px;
  top: 15%;
}

.blob-bg-2 {
  bottom: -76px;
  right: -120px;
}

.blogs-link {
  margin-top: var(--spacing-xl);

  &:hover {
    // Intentionally overriding the text color on hover
    color: white !important;
  }
}

@include respond-to('desktop-sm') {
  .container {
    // provide space to the contact hint
    padding-bottom: 200px;
  }

  .subtitle {
    text-align: center;
  }

  .post-panel-wrapper {
    max-width: none;
  }
}

@include respond-to('tablet-sm') {
  .section-title {
    font-size: 3.2rem;

    &:after {
      height: 10px;
      bottom: 24px;
    }
  }
}

@include respond-to('mobile-md') {
  .section-title {
    font-size: 2.325rem;
    line-height: 3.375rem;

    &:after {
      height: 8px;
      bottom: 12px;
    }
  }

  .subtitle {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@include respond-to('mobile-sm') {
  .section-title {
    font-size: 2rem;
    line-height: 3rem;

    &:after {
      height: 6px;
      bottom: 8px;
    }
  }
  .subtitle {
    padding-left: initial;
    padding-right: initial;
  }
}
