<div class="container h-full flex flex-col items-center relative overflow-x-clip">
  <header class="flex flex-col items-center">
    <div qsAnimation="fadeIn" animHover="floatShadow" [animDelay]="0.5">
      <img src="assets/img/coffee-cup.gif" alt="Coffee cup" class="coffee-cup" width="100" />
    </div>
    <h2
      class="text-underlined section-title text-center"
      qsAnimation="fadeInDown"
      animHover="wobbleSkew"
      matTooltip="Just out of the coffee pot: Some latest random thoughts and listicles."
    >
      Freshly Brewed
    </h2>
    <p class="subtitle" qsAnimation="fadeInUp">
      Yep! I sometimes write stuff — anything under the sun.
    </p>
  </header>
  <div class="posts-container grid grid-cols-3 gap-8 my-12">
    @for (post of posts; track $index) {
      <div
        qsAnimation="flipInY"
        animHover="grow"
        class="post-panel-wrapper relative desktop-sm:col-span-3 bg-clip-content"
        [animDuration]="2"
      >
        <div class="post-panel h-full flex flex-col justify-between gap-4 relative">
          <qs-pill [text]="post.tag" />
          <div>
            <h3 class="post-title font-semibold">
              <a href="#">{{ post.title }}</a>
            </h3>
            <p class="post-excerpt">{{ post.excerpt }}</p>
          </div>
          <span class="post-date self-end">{{ post.date }}</span>
        </div>
      </div>
    }
  </div>
  @if (showBlogsLink) {
    <a
      href="/blog"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="View all blogs"
      class="blogs-link btn accent outlined"
      qsAnimation="flipInX"
      animHover="bounceToRight"
      [animDelay]="0.5"
    >
      View Archives
    </a>
  }
  <div class="next-section absolute left-0 right-0 mx-auto my-0 w-fit z-20">
    <div class="flex">
      <img
        src="assets/svg/cursive-arrow.svg"
        alt="Cursive arrow for contact section"
        aria-label="Arrow direction for contact section"
        qsAnimation="rotateIn"
        animHover="wobbleVertical"
      />
      <div class="text-wrapper" qsAnimation="rotateInUpLeft" animHover="rotate">
        <span class="font-semibold inline-block">Want to get in touch?</span>
      </div>
    </div>
  </div>
  <img
    class="blob-bg-1 absolute z-10"
    src="assets/svg/3wdna7.svg"
    aria-hidden="true"
    alt="Blob background"
    qsAnimation="fadeIn"
  />
  <img
    class="blob-bg-2 absolute z-10"
    src="assets/svg/kwcu73.svg"
    aria-hidden="true"
    alt="Blob background"
    qsAnimation="fadeIn"
  />
</div>
