@use '@angular/material' as mat;

@import 'palettes/base';
@import 'palettes/mustard';

$primary: mat.define-palette($yellow, 400);
$accent: mat.define-palette($dark-blue, 400);
$warn: mat.define-palette($red, 400);

/** Typography **/
$app-typography: mat.define-typography-config(
  $font-family: 'Poppins, "Helvetica Neue", sans-serif',
  $headline-5: mat.define-typography-level(2rem, normal, 700, 'Poppins'),
  $headline-6: mat.define-typography-level(1.5rem, normal, 700, 'Poppins'),
  $subtitle-1: mat.define-typography-level(1.125, normal, 600, 'Poppins'),
  $subtitle-2: mat.define-typography-level(1.25rem, normal, 600, 'Poppins'),
  $body-1: mat.define-typography-level(1rem),
  $body-2: mat.define-typography-level(1rem),
  $button: mat.define-typography-level(1rem),
);

/** Theme **/
$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $app-typography,
    density: 0,
  )
);

/** Configuration **/
@include mat.core-theme($app-theme);
@include mat.typography-hierarchy($app-typography);
@include mat.form-field-theme($app-theme);
@include mat.input-theme($app-theme);
@include mat.core();

// Additional imports
@import 'base';
@import 'mustard-theme';

// Variables specific to this project
html {
  --color-accent-red: #f1756d;
  --color-accent-purple: #84609f;
  --font-accent-family: 'Inconsolata', sans-serif;
}

.text-accent,
h1.text-accent,
h2.text-accent,
h3.text-accent {
  font-family: var(--font-accent-family);
  color: var(--color-accent-purple);
}

// Custom cursor
#cursor-container {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  transform-origin: center center;
  top: 0;
  left: 0;
  z-index: var(--zindex-always-on-top);
  filter: url('#goo');

  span {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #f1756d;
    transform-origin: center center;
    transform: translate(-50%, -50%);
  }
}

// Custom styling for an underlined text
.text-underlined {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--color-primary);
    transform: scale(1) skew(-15deg);
    transition: transform 0.25s ease;
    left: -4px;
    right: -4px;
    transform-origin: 0 0;
    will-change: transform;
    z-index: -1;
    // Values below are usually adjusted to match the font size
    height: 8px;
    bottom: 8px;
  }
}

// Custom button styling specific to this application
a.btn,
button.btn {
  padding: var(--spacing-sm) var(--spacing-lg);
  font-size: var(--font-size-sm);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);

  .btn-label {
    font-size: var(--font-size-sm);
  }

  &.outlined {
    &.accent {
      border: solid 1px var(--color-accent);
      color: var(--color-accent);
    }

    &.primary {
      border: solid 1px var(--color-primary);
      color: var(--color-primary);
    }
  }

  &.flat {
    &.primary {
      color: var(--color-accent);
      border: solid 1px var(--color-primary);
      background-color: var(--color-primary);
    }

    &.accent {
      color: white;
      border: solid 1px var(--color-accent);
      background-color: var(--color-accent);
    }
  }
}

// Call-to-action button styling
a.cta-btn,
button.cta-btn {
  height: 48px;
  padding: 0 22px;
  line-height: 0;
  position: relative;
  transition: all 0.2s ease;
  gap: var(--spacing-sm);
  display: inline-block;
  color: var(--body-color);
  font-weight: 600;
  display: flex;
  align-items: center;

  * {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
    z-index: 1;
  }

  .arrow-icon {
    transform: translateX(0);
    transition: all 0.3s ease;
  }

  &:hover .arrow-icon {
    transform: translateX(4px);
  }

  &.accent:before {
    background-color: var(--color-accent);
  }

  &.primary:before {
    background-color: var(--color-primary);
  }

  &.accent:hover:before {
    width: 100%;
    background: var(--color-accent);
  }

  &.primary:hover:before {
    width: 100%;
    background: var(--color-primary);
  }
}
