/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

// Variables specific to this project
html {
  --accent-red: #f1756d;
  --accent-purple: #84609f;
  --accent-font: 'Inconsolata', sans-serif;
}

.accent-text {
  font-family: var(--accent-font);
  color: var(--accent-purple);
}

// Call-to-action button styling
a.cta-btn,
button.cta-btn {
  height: 48px;
  padding: 0 22px;
  line-height: 0;
  position: relative;
  transition: all 0.2s ease;
  gap: var(--spacing-sm);
  display: inline-block;
  color: var(--body-color);
  font-weight: 600;
  display: flex;
  align-items: center;

  * {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
    z-index: 1;
  }

  .arrow-icon {
    transform: translateX(0);
    transition: all 0.3s ease;
  }

  &:hover .arrow-icon {
    transform: translateX(4px);
  }

  &.accent:before {
    background-color: var(--accent-color);
  }

  &.primary:before {
    background-color: var(--primary-color);
  }

  &.accent:hover:before {
    width: 100%;
    background: var(--accent-color);
  }

  &.primary:hover:before {
    width: 100%;
    background: var(--primary-color);
  }
}

// Custom styling for an underlined text
.text-underlined {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-color);
    transform: scale(1) skew(-15deg);
    transition: transform 0.25s ease;
    left: -4px;
    right: -4px;
    transform-origin: 0 0;
    will-change: transform;
    z-index: -1;
    // Values below are usually adjusted to match the font size
    height: 8px;
    bottom: 8px;
  }
}
