<div class="form-wrapper relative">
  @if (showOverlay()) {
    <div
      class="form-overlay absolute h-full w-full top-0 left-0 z-10 flex flex-col items-center justify-center"
    >
      @if (sendingDone()) {
        @if (!hasErrors()) {
          <p class="sending-msg text-gray success text-sm text-center">
            Sent! Thank you for reaching out. I'll get back the soonest.
          </p>
        } @else {
          <p class="sending-msg text-gray failed text-sm text-center">
            Uhm... Something went wrong there. We can still do this the old-school way. Hit my inbox
            at
            <a href="mailto:contact@dreiq.dev" aria-label="Send an direct email" class="underline"
              >contact&#64;dreiq.dev</a
            >.
          </p>
        }
      } @else {
        <div class="loader"></div>
        <p class="sending-msg text-gray text-sm text-center">
          Hang tight—your message is on its way.
        </p>
      }
      <button
        class="close-msg text-gray text-sm mt-2 absolute mx-auto bottom-4"
        type="button"
        aria-label="Close"
        (click)="showOverlay.set(false)"
      >
        close
      </button>
    </div>
  }
  <form class="flex flex-col" [formGroup]="contactForm">
    <qs-input
      label="Name"
      control="name"
      name="name"
      qsAnimation="fadeInUp"
      matTooltip="Alias, superhero name, or just plain ol' you — who am I chatting with?"
      [hideRequiredMarker]="true"
      [errorMsgMap]="{
        required: 'Oops! Looks like you forgot to tell me your name.',
        maxlength: 'That\'s a long name you got there. Mind shortening it?'
      }"
    />
    <qs-input
      label="Email"
      control="email"
      name="email"
      qsAnimation="fadeInUp"
      matTooltip="Your portal for virtual hellos. Promise, this is not for spams."
      [animDelay]="0.25"
      [hideRequiredMarker]="true"
      [errorMsgMap]="{
        required: 'Pinky promise, I am not going to use your email for spams (and scams).',
        email: 'Oops! That email address doesn\'t look right.'
      }"
    />
    <qs-input
      label="Subject"
      control="subject"
      name="subject"
      qsAnimation="fadeInUp"
      matTooltip="Give me a hint — what's brewing?"
      [animDelay]="0.5"
      [hideRequiredMarker]="true"
      [errorMsgMap]="{
        required: 'Looks like we\'re missing a subject here.',
        maxlength: 'At this point, your subject can already be your message.'
      }"
    />
    <qs-textarea
      label="Message"
      control="message"
      name="message"
      qsAnimation="fadeInUp"
      matTooltip="Got a story? The floor is yours."
      [animDelay]="0.75"
      [hideRequiredMarker]="true"
      [errorMsgMap]="{
        required: 'We\'ve got a blank message field here.'
      }"
    />

    <button
      type="button"
      class="btn primary outlined self-end mt-6 !py-4 !px-5 !text-default-color"
      aria-label="Submit"
      qsAnimation="fadeInRight"
      animHover="bounceToRight"
      [animDelay]="1"
      [disabled]="submitDisabled()"
      [matTooltip]="
        submitDisabled() ? 'Oops... The form still got some empty seats.' : 'Lezzgooo...'
      "
      (click)="onSubmitForm()"
    >
      Send Message
    </button>
  </form>
</div>

<ng-template #errorTmpl let-message>
  <span class="error-msg">
    {{ message }}
  </span>
</ng-template>
