@import 'mixins';

:host {
  width: 100%;
}

.form-wrapper {
  --mdc-outlined-text-field-outline-color: var(--color-primary);
  --mdc-outlined-text-field-hover-outline-color: var(--color-primary);

  background-color: white;
  box-shadow: var(--drop-shadow);
  border-radius: 32px;
  padding: 48px;
  overflow: hidden;

  form {
    gap: 4px;
  }
}

.submit-btn {
  padding: 16px 20px;
  color: var(--body-color) !important;
  margin-top: 24px;
}

.form-overlay {
  &:before {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    opacity: 65%;
    z-index: -1;
  }

  .sending-msg {
    background: var(--color-primary-50);
    border-radius: 8px;
    padding: 8px 12px;
    margin: 0 var(--spacing-md);

    &.success {
      background-color: var(--color-primary);
      color: var(--color-accent);
    }

    &.failed {
      background-color: var(--color-accent-red);
      color: white;
    }
  }

  .close-msg {
    padding: 4px 8px;
    border-radius: 4px;
  }
}

.loader {
  width: 80px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  display: grid;
  filter: blur(5px) contrast(15) hue-rotate(298deg);
  mix-blend-mode: darken;

  &:before,
  &:after {
    content: '';
    margin: 5px;
    border-radius: 50%;
    background: var(--color-primary);
    grid-area: 1/1;
    mask-size:
      100% 20px,
      100% 100%;
    mask-repeat: no-repeat;
    mask-composite: destination-out;
    mask-composite: exclude;
  }

  &:before {
    mask-image: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
    animation: loaderAnimation1 2s infinite;
  }

  &:after {
    mask-image: linear-gradient(#000 0 0);
    animation:
      loaderAnimation1 2s infinite,
      loaderAnimation2 0.5s infinite cubic-bezier(0.5, 200, 0.5, -200);
  }
}

@keyframes loaderAnimation1 {
  0% {
    mask-position:
      0 20%,
      0 0;
  }
  20% {
    mask-position:
      0 80%,
      0 0;
  }
  40% {
    mask-position:
      0 100%,
      0 0;
  }
  60% {
    mask-position:
      0 0%,
      0 0;
  }
  80% {
    mask-position:
      0 35%,
      0 0;
  }
  100% {
    mask-position:
      0 0,
      0 0;
  }
}

@keyframes loaderAnimation2 {
  100% {
    transform: translate(0.1px);
  }
}

@include respond-to('desktop-md') {
  .form-wrapper {
    padding: var(--spacing-xl);
    border-radius: var(--spacing-md);
    padding-top: 40px;
  }
}

@include respond-to('mobile-sm') {
  .form-wrapper {
    padding: var(--spacing-lg);
    padding-top: 28px;
  }
}
