<div class="
  relative overflow-hidden rounded-[32px] bg-white p-12 shadow
  desktop-md:rounded-2xl desktop-md:p-8 desktop-md:pt-10
  mobile-sm:p-6 mobile-sm:pt-7"
>
  @if (showOverlay()) {
    <div class="form-overlay absolute left-0 top-0 z-10 flex h-full w-full flex-col items-center justify-center">
      @if (sendingDone()) {
        @if (!hasErrors()) {
          <p class="bg-primary text-accent mx-4 my-0 rounded-lg px-3 py-2 text-center text-sm">
            Sent! Thank you for reaching out. I'll get back the soonest.
          </p>
        } @else {
          <p class="bg-accent-red mx-4 my-0 rounded-lg px-3 py-2 text-center text-sm text-white">
            Uhm... Something went wrong there. We can still do this the old-school way. Hit my inbox
            at
            <a href="mailto:contact@dreiq.dev" aria-label="Send an direct email" class="underline text-accent hover:text-accent-300">
              contact&#64;dreiq.dev</a>&period;
          </p>
        }
      } @else {
        <div class="loader w-[80px] p-[10px] aspect-square bg-white grid mix-blend-darken"></div>
        <p class="bg-primary-50 text-gray mx-4 my-0 rounded-lg px-3 py-2 text-center text-sm">
          Hang tight—your message is on its way.
        </p>
      }
      <button
        class="text-gray absolute bottom-4 mx-auto mt-2 px-2 py-1 text-sm"
        type="button"
        aria-label="Close"
        (click)="showOverlay.set(false)"
      >
        close
      </button>
    </div>
  }
  <form class="flex flex-col gap-1" autocomplete="on" [formGroup]="contactForm">
    <mat-form-field
      qsFormField
      class="mb-2"
      qsAnimation="fadeInUp"
      matTooltip="Alias, superhero name — who am I chatting with?"
      subscriptSizing="dynamic"
      [hideRequiredMarker]="true"
    >
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        autocomplete="on"
      />
      @if (contactForm.get('name')?.hasError('required')) {
        <mat-error>
          Looks like you forgot to tell me your name.
        </mat-error>
      } @else if (contactForm.get('name')?.hasError('maxlength')) {
        <mat-error>
          That's quite a long name you got there.
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field
      qsFormField
      class="mb-2"
      qsAnimation="fadeInUp"
      matTooltip="Your portal for virtual hellos."
      subscriptSizing="dynamic"
      [animDelay]="0.25"
      [hideRequiredMarker]="true"
    >
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        autocomplete="on"
      />
      @if (contactForm.get('email')?.hasError('required')) {
        <mat-error>
          Promise, this is not for spams.
        </mat-error>
      } @else if (contactForm.get('email')?.hasError('email')) {
        <mat-error>
          Oops! That email address doesn't look right.
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field
      qsFormField
      class="mb-2"
      qsAnimation="fadeInUp"
      matTooltip="Give me a hint — what's brewing?"
      subscriptSizing="dynamic"
      [animDelay]="0.5"
      [hideRequiredMarker]="true"
    >
      <mat-label>Subject</mat-label>
      <input
        matInput
        formControlName="subject"
        autocomplete="on"
      />
      @if (contactForm.get('subject')?.hasError('required')) {
        <mat-error>
          Looks like we're missing a subject here.
        </mat-error>
      } @else if (contactForm.get('subject')?.hasError('maxlength')) {
        <mat-error>
          At this point, your subject can already be your message.
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field
      qsFormField
      class="mb-2"
      qsAnimation="fadeInUp"
      matTooltip="Got a story? The floor is yours."
      subscriptSizing="dynamic"
      [animDelay]="0.75"
      [hideRequiredMarker]="true"
    >
      <mat-label>Message</mat-label>
      <textarea
        matInput
        formControlName="message"
        autocomplete="on"
        [rows]="5"
      ></textarea>
      @if (contactForm.get('message')?.hasError('required')) {
        <mat-error>
          We've got a blank message field here.
        </mat-error>
      }
    </mat-form-field>

    <button
      type="button"
      class="btn primary outlined !text-default-color mt-6 self-end !px-5 !py-4"
      aria-label="Submit"
      qsAnimation="fadeInRight"
      animHover="bounceToRight"
      [animDelay]="1"
      [disabled]="submitDisabled()"
      [matTooltip]="
        submitDisabled() ? 'Oops... The form isn\'t error-free just yet.' : 'Lezzgooo...'
      "
      (click)="onSubmitForm()"
    >
      Send Message
    </button>
  </form>
</div>

<ng-template #errorTmpl let-message>
  <span class="error-msg">
    {{ message }}
  </span>
</ng-template>
