<div class="flex flex-col items-center p-12">
  <h2 class="section-header text-center my-12">
    REGISTRY
  </h2>

  @if (isLoading()) {
    <app-loader message="Loading up the goodies..." />
  } @else {
    <div qsAnimation="fadeIn" class="flex flex-col items-center">
      <h3 class="font-semibold text-accent text-center text-2xl leading-8 max-w-[800px]">
        No gifts? Really, no worries! We understand some items can be on the pricey side, so please don't feel obliged—your company means everything to us!
      </h3>
      <div class="my-12 grid grid-cols-4 gap-16">
        @for (gift of gifts(); track gift.id) {
          <div>
            <app-gift-item [gift]="gift" />
          </div>
        }
      </div>
    </div>
  }
</div>
