<div class="shadow bg-white rounded overflow-hidden relative h-[388px]">
  @if (isEditing()) {
    <div class="absolute top-0 left-0 w-full">
      <mat-progress-bar mode="indeterminate" color="primary"/>
    </div>
  }
  <div class="flex flex-col gap-4 p-6">
    <h2 class="text-xl text-primary">
      Bank Accounts
    </h2>
    <div class="flex flex-col gap-2 mb-4">
      <h3 class="text-gray text-lg">Total:</h3>
      <span class="font-bold text-2xl">
        {{ totalBalance | currency : 'PHP' : undefined : '1.0-0' }}
      </span>
    </div>
    <div class="flex flex-col gap-4">
      @for (account of bankAccounts(); track $index) {
        <div class="flex flex-col gap-1 px-4 border-l-4" [style.borderColor]="account.color">
          <h4 class="text-base font-semibold text-gray-500">{{ account.name }}</h4>
          @if (!account.isEditMode) {
            <span class="flex items-center my-1" (dblclick)="account.isEditMode = true">
              {{ account.balance | currency : 'PHP' : undefined : '1.0-0' }}
            </span>
          } @else {
            <div class="flex items-center gap-4 pr-6">
              <input
                #balanceInput
                type="number"
                class="w-full pb-2 border-b border-b-gray-200 outline-none focus:outline-none"
                [ngModel]="account.balance"
              />
              <button
                mat-icon-button
                type="button"
                matTooltip="Save"
                (click)="onEditBalance(account, balanceInput.value)"
              >
                <qs-icon iconName="check" class="text-primary" [iconSize]="16" />
              </button>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
