<button
  type="button"
  aria-label="Open menu"
  matTooltip="Open Menu"
  class="!fixed !z-fixed bg-transparent outline-none border-0 cursor-pointer top-8 right-8 scale-x-[-1]
    tablet-md:top-5 tablet-md:right-5
    tablet-sm:top-4 tablet-sm:right-4
  "
  (click)="isSidebarOpen.set(true)"
>
  <img src="/images/menu.svg" alt="Menu icon" width="35">
</button>

<qs-slidebar
  position="right"
  [isSidebarOpen]="isSidebarOpen()"
  (closed)="isSidebarOpen.set(false)"
>
  <ul class="list-none p-0">
    @for (link of footerLinks; track $index) {
      <li
        class="nav-item p-6 border-solid border-0 border-b border-b-primary-100"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="text-body-light text-2xl no-underline opacity-80 hover:opacity-100 hover:text-[#ffc780]"
          [routerLink]="link.route"
          (click)="isSidebarOpen.set(false)"
        >
          {{ link.label }}
        </a>
      </li>
    }
  </ul>
</qs-slidebar>
