<div class="flex gap-8">
  <div #tableWrapper class="table-wrapper w-full overflow-y-auto border-b border-solid border-gray-100 mt-4">
    <table mat-table matSort class="h-full" [dataSource]="tblDataSource">
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Amount</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.amount | currency : 'PHP' : undefined : '1.0-0' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Due Date</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.paymentDay | ordinal }}
        </td>
      </ng-container>

      <ng-container matColumnDef="paymentAccount">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Payment Account</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.paymentAccount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="billingCycle">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Billing Cycle</th>
        <td *matCellDef="let element" mat-cell>
          <span class="capitalize">
            {{ element.billingCycle }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="lastPaymentDate">
        <th *matHeaderCellDef mat-header-cell class="w-[200px]">Last Payment Date</th>
        <td *matCellDef="let element" mat-cell>
          @if (element.isPaid) {
            {{ element.lastPaymentDate | date: 'MMM dd' }}
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="isPaid">
        <th *matHeaderCellDef mat-header-cell class="center">
          Paid?
        </th>
        <td *matCellDef="let element" mat-cell class="center">
          <span
            [ngClass]="element.isPaid ? 'text-green' : 'text-red'"
          >
            <qs-icon
              iconStyle="solid"
              [iconSize]="20"
              [iconName]="element.isPaid ? 'circle-check' : 'circle-xmark'"
            />
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell class="center w-[250px]">Action</th>
        <td *matCellDef="let element" mat-cell class="center">
          <button
            mat-icon-button
            aria-label="Actions"
            type="button"
            matTooltip="Actions"
            [matMenuTriggerFor]="actionMenu"
          >
            <qs-icon iconName="ellipsis-vertical" [iconSize]="20" />
          </button>

          <mat-menu #actionMenu="matMenu">
            <button mat-menu-item type="button" (click)="onTogglePaidStatus(element)">
              <div class="flex items-center">
                <qs-icon iconName="circle-check" [iconSize]="20" />
                <span>
                  Mark as {{ element.isPaid ? 'Unpaid' : 'Paid' }}
                </span>
              </div>
            </button>

            <button mat-menu-item type="button" (click)="onEditBill(element)">
              <div class="flex items-center">
                <qs-icon iconName="pen-to-square" [iconSize]="20" />
                <span>Edit</span>
              </div>
            </button>

            <button mat-menu-item type="button" (click)="onDeleteBill(element)">
              <div class="flex items-center text-red">
                <qs-icon iconName="trash-can" class="text-red" [iconSize]="20" />
                <span>Delete</span>
              </div>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="tblColumns" mat-header-row></tr>
      <tr
        *matRowDef="let row; columns: tblColumns"
        mat-row
        class="relative"
        [class.loading]="row.isLoading">
      </tr>
      <tr *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="tblColumns.length">
          <div class="flex justify-center">
            <mat-spinner color="accent" [diameter]="32"/>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="w-[360px]">
    <div class="mb-8">
      <h2>Total Amount:</h2>
      <p class="font-bold text-2xl mt-2">
        {{ totalBills() | currency : 'PHP' }}
      </p>
    </div>

    <div>
      <h3 class="mb-4 text-gray">Payment Accounts Total:</h3>
      <div class="flex flex-col">
        @for (account of paymentAccounts; track $index) {
          <div class="grid grid-cols-2 items-center border border-gray-200 border-solid">
            <span class="border-r border-gray-200 border-solid p-2">
              {{ account.name }}
            </span>
            <span class="p-2">
              {{ account.total | currency : 'PHP' : undefined : '1.0-0' }}
            </span>
          </div>
        }
      </div>
    </div>
  </div>
</div>
