<header
  role="navigation"
  aria-label="Main navigation"
  class="h-full flex items-center justify-between"
>
  <button
    class="menu-btn"
    matTooltip="Behold, a menu..."
    type="button"
    aria-label="Open menu"
    qsAnimation="fadeInLeft"
    (click)="onOpenSidebar($event)"
  >
    <qs-hamburger />
  </button>
  <div class="nav-links-wrapper flex" qsAnimation="bounceInDown">
    @for (social of socials; track $index) {
      <a
        class="nav-link primary"
        target="_blank"
        rel="noopener noreferrer"
        qsAnimation
        [animHover]="['bounce-to-right', 'wobble-top']"
        [href]="social.url"
        [attr.aria-label]="social.name"
        [matTooltip]="social.name"
      >
        <qs-icon iconStyle="custom" class="nav-icon" [iconName]="social.icon" [iconSize]="28" />
      </a>
    }
  </div>
</header>

@if (isSidebarOpen()) {
  <nav
    #sidebar
    class="sidenav fixed top-0 h-dvh"
    qsAnimation
    [animDuration]="0.3"
    [animIsManual]="true"
  >
    <div class="close-btn-wrapper flex justify-end">
      <button
        class="close-btn"
        matTooltip="When one door closes, another opens; sorry, not in this sidebar."
        type="button"
        aria-label="Close sidebar"
        (click)="onCloseSidebar($event)"
      >
        <qs-icon iconName="times" aria-hidden="true" [iconSize]="28" />
      </button>
    </div>
    <ul class="menu-items-wrapper flex flex-col">
      @for (item of routes; track $index) {
        <li class="menu-item" ariaCurrentWhenActive="page">
          <a class="menu-link text-underlined" routerLinkActive="active" [routerLink]="item.path">{{
            item.label
          }}</a>
        </li>
      }
    </ul>
  </nav>
}
