@import 'mixins';

:host {
  position: fixed;
  z-index: var(--zindex-fixed);
  height: 96px;
  width: 100%;
  top: 0;
}

header {
  padding: 0 var(--spacing-xl);

  .nav-links-wrapper {
    gap: var(--spacing-md);
    margin: var(--spacing-lg) 0;

    .nav-link {
      color: var(--gray-600);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
}

.sidenav {
  width: 300px;
  background-color: var(--gray-50);
  box-shadow: 2px 0 4px -2px var(--gray-200);
  padding: var(--spacing-xl);

  .close-btn {
    color: var(--gray-500);

    &:hover {
      color: var(--gray-600);
    }
  }

  .menu-items-wrapper {
    gap: var(--spacing-lg);
    margin-top: calc(var(--spacing-lg) + var(--spacing-md));

    .menu-item {
      font-size: 2rem;
      font-weight: 600;
      line-height: 3rem;

      .menu-link {
        color: var(--gray-500);
        transition: color 0.5s ease;
        position: relative;
        display: inline-block;

        &:after {
          transform: scaleX(0) skew(-15deg);
        }

        &.active,
        &:hover {
          color: var(--body-color);

          &:after {
            transform: scale(1) skew(-15deg);
          }
        }
      }
    }
  }
}

@include respond-to('mobile-md') {
  :host {
    height: 80px;
  }

  header {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
}
