@import 'mixins';

:host {
  position: fixed;
  z-index: var(--z-fixed);
  height: 96px;
  width: 100%;
  top: 0;
}

.sidebar {
  .menu-link {
    transition: color 0.5s ease;

    &:after {
      transform: scaleX(0) skew(-15deg);
    }

    &.active,
    &:hover {
      color: var(--text-default-color);

      &:after {
        transform: scale(1) skew(-15deg);
      }
    }
  }
}

@include respond-to('mobile-md') {
  :host {
    height: 80px;
  }
}
