@import 'mixins';

.header-content-wrapper {
  bottom: 80px;
  right: 220px;
  gap: var(--spacing-xl);

  .header-title {
    font-size: 6rem;
    line-height: 7rem;
    filter: drop-shadow(5px 4px 0 var(--accent-red));
    // Below properties are intended since tailwind cannot override material typography
    font-weight: 800;
    margin-bottom: 0;

    .greeting-ch {
      &.space {
        width: var(--spacing-lg);
      }
    }
  }

  .header-subtitle {
    line-height: 3rem;
    font-size: 2.5rem;
    margin-bottom: 0; // intended since tailwind cannot override material typography
  }
}

.header-blob-anchor {
  width: 1px;
  bottom: 80px;
  right: 75px;
}

.header-blob-wrapper {
  bottom: 124px;
}

.scroll-cue-container {
  right: calc(var(--spacing-lg) + 2px);
  bottom: var(--spacing-lg);
}

@include respond-to('desktop-sm') {
  .header-content-wrapper {
    right: 100px;
  }
}

@include respond-to('tablet-md') {
  .header-content-wrapper {
    right: unset;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@include respond-to('tablet-sm') {
  .header-content-wrapper {
    .header-title {
      font-size: 5.75rem;
      line-height: 6.25rem;
    }

    .header-subtitle {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  }
}

@include respond-to('mobile-md') {
  .header-content-wrapper {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);

    .header-title {
      font-size: 5rem;
      line-height: 5.5rem;
    }

    .header-subtitle {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  }

  .header-blob-wrapper {
    bottom: 176px;

    img {
      width: 500px;
    }
  }
}

@include respond-to('mobile-sm') {
  .header-content-wrapper {
    .header-title {
      font-size: 4.75rem;
      line-height: 5rem;
    }

    .header-subtitle {
      font-size: 1.75rem;
      line-height: 2rem;
    }
  }
}

@include respond-to('sm-height') {
  .header-content-wrapper {
    bottom: 0;
  }
}
