<div class="h-full overflow-hidden">
  <header class="h-full relative">
    <div class="header-content-wrapper absolute m-auto h-fit w-fit top-0 left-0 z-20 flex flex-col">
      <h1 class="header-title" aria-label="Hi, I am Drei">
        <!-- Render greeting text either in one line or add a line break. Computation depends on the viewport -->
        <ng-container *ngTemplateOutlet="greetingTextTmpl; context: { $implicit: greetingText1 }" />
        @if (shouldBreakText()) {
          <br />
        } @else {
          <span class="greeting-ch space" aria-hidden="true">&nbsp;</span>
        }
        <ng-container *ngTemplateOutlet="greetingTextTmpl; context: { $implicit: greetingText2 }" />
        <ng-template #greetingTextTmpl let-text>
          @for (ch of text; track $index) {
            <span
              class="greeting-ch inline-block"
              aria-hidden="true"
              qsAnimation="slideInLeft"
              animHover="rubberBand"
              [animDuration]="2"
              [class.space]="ch === ' '"
            >
              {{ ch }}
            </span>
          }
        </ng-template>
      </h1>
      <h2
        class="header-subtitle text-accent w-fit font-bold"
        qsAnimation="fadeInUp"
        animHover="grow"
      >
        full-stack developer <br />and design enthusiast
      </h2>
      <button
        type="button"
        class="cta-btn primary w-fit mt-3"
        matTooltip="Adventure awaits. Allegedly..."
        qsAnimation="rotateIn"
        aria-label="Know more about me"
      >
        <span>Explore</span>
        <qs-icon iconName="arrow" iconStyle="custom" class="arrow-icon" [iconSize]="14" />
      </button>
    </div>
    <div #headerBlobAnchor class="header-blob-anchor absolute invisible m-auto top-0 left-0"></div>
    <div #headerBlobWrapper class="header-blob-wrapper absolute h-fit my-auto mx-0 top-0 bottom-0">
      <img
        src="assets/svg/gz4k5n.svg"
        aria-hidden="true"
        alt="Header Background Blob"
        qsAnimation="zoomIn"
      />
    </div>
  </header>
  <div class="scroll-cue-container absolute z-30" qsAnimation="fadeIn">
    <qs-scroll-cue tooltip="No way but down..." />
  </div>
</div>
