@use 'sass:map';
@use '@angular/material' as mat;

@import 'palettes/base';
@import 'palettes/mustard';

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

/** Theme **/
$app-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: (
      plain-family: "Archivo, 'Helvetica Neue', sans-serif",
      brand-family: "Archivo, 'Helvetica Neue', sans-serif",
    ),
  )
);

@include mat.core();

html {
  @include mat.core-theme($app-theme);
  @include mat.form-field-theme($app-theme);
  @include mat.select-theme($app-theme);
  @include mat.button-theme($app-theme);
  @include mat.tooltip-theme($app-theme);
}

// Additional imports
@import 'base';
@import 'mustard-theme';

// Typography
body {
  font-family: Archivo, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: Righteous, 'Helvetica Neue', sans-serif;
}
