@use '@angular/material' as mat;

@import 'palettes/base';
@import 'palettes/mustard';

$primary: mat.define-palette($yellow, 400);
$accent: mat.define-palette($dark-blue, 400);
$warn: mat.define-palette($red, 400);
$typography: mat.define-typography-config(
  $font-family: "Archivo, 'Helvetica Neue', sans-serif",
);

/** Theme **/
$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography,
    density: 0,
  )
);

/** Configuration **/
@include mat.core-theme($app-theme);
@include mat.form-field-theme($app-theme);
@include mat.select-theme($app-theme);
@include mat.button-theme($app-theme);
@include mat.core();

// Typography
body {
  font-family: Archivo, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: Righteous, 'Helvetica Neue', sans-serif;
}

// Additional imports
@import 'base';
@import 'mustard-theme';
