<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<div class="pb-4">
  <div class="flex flex-col items-center gap-6">
    @switch (data.role.value) {
      @case ('bridesmaids') {
        <img
          priority
          ngSrc="/images/bridesmaid.webp"
          alt="Bridesmaid attire"
          width="150"
          height="225"
          class="mb-4"
        />
        <p class="text-center m-0 max-w-[400px]">
          We'd be happy to see you in any <span class="font-bold">ankle</span>, or <span class="font-bold">floor-length</span> dress in the colors of this palette!
        </p>
        <div class="flex gap-8 justify-center
          mobile-md:gap-4
        ">
          @for (item of data.role.palette[0]; track $index) {
            <ng-container *ngTemplateOutlet="paletteTmpl; context: { $implicit: item }" />
          }
        </div>
      }

      @case ('groomsmen') {
        <img
          priority
          ngSrc="/images/groomsmen.webp"
          alt="Groomsmen attire"
          width="150"
          height="225"
          class="mb-4"
        />
        <p class="text-center max-w-[400px]">
          We'd be grateful to have you in a Barong Tagalog paired with black pants.
        </p>
      }

      @case ('principal-sponsors') {
        <ng-container *ngTemplateOutlet="sponsorsTmpl; context: { pantsColor: 'black' }" />
      }

      @case ('secondary-sponsors') {
        <ng-container *ngTemplateOutlet="sponsorsTmpl; context: { pantsColor: 'brown' }" />
      }

      @case ('guests') {
        <img
          priority
          ngSrc="/images/guests.webp"
          alt="Guest attire"
          width="180"
          height="133"
          class="mb-4"
        />
        <dl class="flex flex-col m-0 text-center max-w-[400px]">
          <dt class="font-semibold text-accent uppercase">
            Ladies
          </dt>
          <dd class="m-0">
            We'd be happy to see you in any <span class="font-bold">tea</span>, <span class="font-bold">ankle</span>, or <span class="font-bold">floor-length</span> dress in the colors of our wedding palette.
          </dd>

          <dt class="font-semibold text-accent uppercase mt-8">
            Gents
          </dt>
          <dd class="m-0">
            We highly encourage you to wear a Barong Tagalog, but a long-sleeve button-down is fine, too.
          </dd>
        </dl>

        <p class="font-semibold text-accent uppercase my-2 mb-0">
          Palette
        </p>
        <div class="flex flex-col gap-4">
          @for (palette of data.role.palette; track $index) {
            <div class="flex gap-8 justify-center
              mobile-md:gap-6
            ">
              @for (item of palette; track $index) {
                <ng-container *ngTemplateOutlet="paletteTmpl; context: { $implicit: item }" />
              }
            </div>
          }
        </div>
      }
    }
  </div>
</div>

<ng-template #sponsorsTmpl let-pantsColor="pantsColor" let-palette="palette">
  <img
    priority
    width="160"
    height="187"
    class="mb-4"
    [alt]="data.role.label + ' attire'"
    [ngSrc]="'/images/' + data.role.value + '.webp'"
  />
  <dl class="flex flex-col m-0 text-center max-w-[400px]">
    <dt class="font-semibold text-accent uppercase">
      Ladies
    </dt>
    <dd class="m-0">
      We'd be happy to see you in any <span class="font-bold">ankle</span>, or <span class="font-bold">floor-length</span> dress in the colors of our wedding palette.
    </dd>

    <dt class="font-semibold text-accent uppercase mt-8">
      Gents
    </dt>
    <dd class="m-0">
      We can't wait to see you in a Barong Tagalog paired with <span class="font-bold">{{ pantsColor }} pants.</span>
    </dd>
  </dl>
  <p class="font-semibold text-accent uppercase my-2 mb-0">
    Palette
  </p>
  <div class="flex gap-8 justify-center
    mobile-md:gap-6
  ">
    @for (paletteItem of data.role.palette[0]; track $index) {
       <span class="text-center inline-block" [matTooltip]="paletteItem.name">
          <qs-icon
            iconName="circle-sketch"
            iconStyle="custom"
            [iconSize]="42"
            [style.color]="paletteItem.color"
          />
        </span>
    }
  </div>
</ng-template>

<ng-template #paletteTmpl let-item>
  <span class="text-center inline-block" [matTooltip]="item.name">
     <qs-icon
      iconName="circle-sketch"
      iconStyle="custom"
      [iconSize]="42"
      [style.color]="item.color"
    />
  </span>
</ng-template>




