<qs-page-container>
  <div qsAnimation="fadeIn" class="pt-[102px] pb-8 px-8">
    <header class="text-center">
      <h1
        qsAnimation="fadeInDown"
        class="text-underlined text-[3rem] font-extrabold leading-normal
          after:bottom-4 after:h-3
        ">
        Projects
      </h1>
      <p
        qsAnimation="fadeInUp"
        class="text-gray mt-8 mx-auto max-w-[800px]
          desktop-sm:max-w-[900px] tablet-sm:max-w-none
      ">
        I am gradually rewriting and migrating my personal projects for a better look and content. My goal is to publish some <span class="font-semibold text-accent-purple">AI projects</span>, <span class="font-semibold text-accent-purple">Google Cloud apps</span>, <span class="font-semibold text-accent-purple">web utility tools</span>, and a few <span class="font-semibold text-accent-purple">UI design samples</span>.
      </p>

      <p
        qsAnimation="fadeInUp"
        class="text-gray mt-8 mx-auto max-w-[800px]
          desktop-sm:max-w-[900px] tablet-sm:max-w-none"
        [animDelay]="0.5">
        If you're interested in my professional work experience, check out my CV
        <a href="assets/Quevada_CV.pdf" matTooltip="Quevada_CV.pdf" class="underline font-semibold">here</a>.
      </p>
    </header>
    <main class="flex flex-col gap-12 items-center my-20">
      @for (proj of projects; track proj.key) {
        <div class="flex gap-8">
          <div class="rounded">
            <img
              class="w-[540px] h-[280px] object-cover hover:opacity-85 mobile-md:w-full"
              loading="lazy"
              [alt]="proj.name"
              [src]="'assets/img/projects/' + proj.key + '.jpg'"
            />
          </div>
          <div>
            <h2 class="font-semibold text-[2rem]">{{ proj.name }}</h2>
            <p class="text-gray mt-2 max-w-[450px]">
              {{ proj.excerpt }}
            </p>
            <div class="mt-6 flex gap-2">
              @for (tag of proj.tags; track $index) {
                <qs-pill [text]="tag" />
              }
            </div>
            <div class="mt-8 flex gap-8">
              <div>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  matTooltip="Go to project link"
                  class="flex items-center gap-2 text-accent-purple hover:text-[#9d80b2]"
                  [href]="proj.url"
                >
                  <qs-icon iconName="link" [iconSize]="16" />
                  <span>View Project</span>
                </a>
              </div>
              <div>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  matTooltip="View design assets"
                  class="flex items-center gap-2 text-accent-purple hover:text-[#9d80b2]"
                  [href]="proj.url"
                >
                  <qs-icon iconName="images" [iconSize]="16" />
                  <span>Project Assets</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      }
    </main>
      <!-- <div class="text-center mt-6">
        <a
          routerLink="/contact"
          class="inline-flex items-center gap-2 px-8 py-4 rounded-full bg-primary text-default-color
            hover:text-default-color hover:bg-primary-300"
          matTooltip="Adventure awaits. Allegedly..."
          aria-label="Know more about me"
          qsAnimation="rotateIn"
          [animDelay]="0.5"
        >
          <span>Let's Connect</span>
          <qs-icon iconName="arrow" iconStyle="custom" class="arrow-icon" [iconSize]="14" />
        </a>
      </div> -->
  </div>
</qs-page-container>
