<form [formGroup]="expenseForm">
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput formControlName="name" placeholder="Name" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput formControlName="amount" placeholder="Amount" type="number" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput formControlName="category" placeholder="Category" required>
  </mat-form-field>
</form>
