<!-- eslint-disable @angular-eslint/template/no-interpolation-in-attributes -->
<div
  class="card max-w-[420px] h-full overflow-hidden rounded-2xl flex flex-col gap-6 bg-white shadow
    {{ showImage() ? 'pt-0' : 'pt-8' }}
    hover:opacity-85
    desktop-md:max-w-[360px]
    tablet-sm:max-w-none tablet-sm:w-full
  ">
  @if (showImage()) {
    <img
      class="w-full"
      aria-label="Article image"
      loading="lazy"
      [alt]="article().imageAlt"
      [src]="'assets/img/blogs/' + article().image" />
  }

  <header class="px-6">
    <div class="flex gap-1 mb-2">
      @for (tag of article().tags; track $index) {
        <qs-pill [text]="tag" />
      }
    </div>
    <h2 class="m-0">{{ article().title }}</h2>
  </header>
  <p class="px-6 text-accent-purple">
    {{ article().excerpt }}
  </p>
  <div class="px-6 mb-6 text-sm flex justify-between items-center mt-auto">
    <a
      target="_blank"
      class="inline-flex items-center gap-1"
      rel="noreferrer noopener"
      [href]="article().url"
    >
      Read
      <qs-icon iconName="angle-right" [iconSize]="16" />
    </a>
    <time class="text-gray">{{ article().date | date }}</time>
  </div>
</div>
