<div class="container flex items-center relative overflow-hidden tablet-sm:flex-col">
  <div class="content-wrapper flex flex-col justify-center min-h-dvh">
    <div>
      <h2
        class="text-underlined section-title"
        qsAnimation="bounceInLeft"
        animHover="wobbleTop"
        [animDuration]="1.5"
      >
        In a nutshell...
      </h2>
    </div>
    <main>
      <ul class="list-wrapper flex flex-col">
        @for (item of aboutItems; track $index) {
          <li
            class="text-accent about-txt"
            qsAnimation="flipInX"
            animHover="grow"
            [animDelay]="item.delay"
          >
            <div class="flex">
              <span class="bullet"></span>
              <span class="inline-block">{{ item.text }}</span>
            </div>
          </li>
        }
        <li class="text-accent about-txt" qsAnimation="flipInX" animHover="grow" [animDelay]="1.5">
          <div class="flex">
            <span class="bullet"></span>
            <a href="#" class="inline-flex items-center gap-2">
              <span>Here's me when AFK</span>
              <qs-icon iconName="arrow-up-right-from-square" iconStyle="regular" [iconSize]="14" />
            </a>
          </div>
        </li>
      </ul>
    </main>
    <div>
      <div class="inline-block mb-4" qsAnimation="rotateIn" [animDelay]="1">
        <a
          class="cta-btn primary"
          href="#"
          matTooltip="Got an interesting project?"
          aria-label="Connect with me"
        >
          <span>Let's Connect</span>
          <qs-icon iconName="arrow" iconStyle="custom" class="arrow-icon" [iconSize]="14" />
        </a>
      </div>
    </div>
  </div>
  <aside #sideContentRef class="side-content-wrapper absolute bottom-0 right-0 h-full">
    <div class="image-wrapper relative h-full w-full">
      <img
        src="assets/svg/kpz952.svg"
        class="blob absolute bottom-0 z-10"
        aria-hidden="true"
        alt="Portrait blob"
        qsAnimation="fadeInRight"
        [animDuration]="1.5"
      />
      <img
        ngSrc="assets/img/p-min.png"
        priority
        width="400"
        height="649"
        placeholder
        alt="Portrait photo"
        aria-label="Portrait photo"
        class="portrait absolute z-10"
        qsAnimation="fadeInRight"
        [animDuration]="1.5"
      />
    </div>
  </aside>
</div>
