<div class="container flex items-center h-full relative">
  <div class="content-wrapper">
    <h2 class="text-underlined section-title">In a nutshell...</h2>
    <main>
      <ul class="list-wrapper">
        <li class="accent-txt about-txt">
          From pixels to databases — 6+ of years building things on the web.
        </li>
        <li class="accent-txt about-txt">
          Can juggle between the looks (frontend) and the brains (backend).
        </li>
        <li class="accent-txt about-txt">Got a knack for UI design, I think? 😅</li>
        <li class="accent-txt about-txt">
          Always up to the challenge of learning new tools and technologies.
        </li>
        <li class="accent-txt about-txt">
          <a href="#" class="flex items-center gap-2">
            <span>Here's me when AFK</span>
            <qs-icon iconName="arrow-up-right-from-square" iconStyle="regular" [iconSize]="14" />
          </a>
        </li>
      </ul>
    </main>
    <div class="inline-block cta-btn-wrapper">
      <a
        class="cta-btn primary"
        href="#"
        matTooltip="Got an interesting project?"
        aria-label="Connect with me"
      >
        <span>Let's Connect</span>
        <qs-icon iconName="arrow" iconStyle="custom" class="arrow-icon" [iconSize]="14" />
      </a>
    </div>
  </div>
  <aside #sideContentRef class="side-content-wrapper absolute bottom-0 right-0">
    <div class="image-wrapper relative h-full w-full">
      <img
        #portraitBlob
        src="assets/svg/kpz952.svg"
        class="blob absolute bottom-0 z-10"
        aria-hidden="true"
        alt="Portrait blob"
        [style.visibility]="isPortraitBlobVisible() ? 'visible' : 'hidden'"
      />
      <img
        #portraitImg
        ngSrc="assets/img/p-min.png"
        priority
        width="400"
        height="649"
        placeholder
        alt="Portrait photo"
        aria-label="Portrait photo"
        class="portrait absolute left-0 z-10"
        (load)="onPortraitImgLoad()"
      />
    </div>
  </aside>
</div>
