.content-wrapper {
  margin-left: 12%;
}

.section-title {
  font-size: 3rem;

  &:after {
    height: 12px;
    bottom: 12px;
  }
}

.list-wrapper {
  list-style-type: none;
  margin: var(--spacing-xl) 0;

  .about-txt {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.2rem;
    margin-bottom: var(--spacing-lg);

    &::before {
      content: '• ';
      display: inline-block;
      margin-right: var(--spacing-sm);
    }
  }
}

.side-content-wrapper {
  width: 35%;

  .blob {
    width: 400px;
    left: 28px;
  }

  .portrait {
    bottom: -4px;
  }
}
