<div class="container flex items-center h-full relative overflow-hidden">
  <div class="content-wrapper">
    <h2
      class="text-underlined section-title"
      qsAnimation="bounceInLeft"
      animHover="wobble-top"
      [animDuration]="1.5"
    >
      In a nutshell...
    </h2>
    <main>
      <ul class="list-wrapper flex flex-col">
        @for (item of aboutItems; track $index) {
          <li
            class="text-accent about-txt"
            qsAnimation="flipInX"
            animHover="grow"
            [animDelay]="item.delay"
          >
            <span class="inline-block">{{ item.text }}</span>
          </li>
        }
        <li class="text-accent about-txt" qsAnimation="flipInX" animHover="grow" [animDelay]="1.5">
          <a href="#" class="inline-flex items-center gap-2">
            <span>Here's me when AFK</span>
            <qs-icon iconName="arrow-up-right-from-square" iconStyle="regular" [iconSize]="14" />
          </a>
        </li>
      </ul>
    </main>
    <div class="inline-block" qsAnimation="rotateIn" [animDelay]="1">
      <a
        class="cta-btn primary"
        href="#"
        matTooltip="Got an interesting project?"
        aria-label="Connect with me"
      >
        <span>Let's Connect</span>
        <qs-icon iconName="arrow" iconStyle="custom" class="arrow-icon" [iconSize]="14" />
      </a>
    </div>
  </div>
  <aside
    #sideContentRef
    class="side-content-wrapper absolute bottom-0 right-0"
    qsAnimation="fadeInRight"
    [animDuration]="2"
  >
    <div class="image-wrapper relative h-full w-full">
      <img
        #portraitBlob
        src="assets/svg/kpz952.svg"
        class="blob absolute bottom-0 z-10"
        aria-hidden="true"
        alt="Portrait blob"
        [style.visibility]="isPortraitBlobVisible() ? 'visible' : 'hidden'"
      />
      <img
        #portraitImg
        ngSrc="assets/img/p-min.png"
        priority
        width="400"
        height="649"
        placeholder
        alt="Portrait photo"
        aria-label="Portrait photo"
        class="portrait absolute left-0 z-10"
        (load)="onPortraitImgLoad()"
      />
    </div>
  </aside>
</div>
