<header class="min-h-dvh flex flex-col justify-center items-center gap-12">
  <h1 class="font-normal text-7xl">
    <span>D</span>
    <span>R</span>
    <span>E</span>
    <span>I</span>
    <span>&nbsp;</span>
    <span>Q</span>
    <span class="-ml-4 mr-1">V</span>
    <span>D</span>
  </h1>
  <p class="subheading font-secondary text-4xl text-center leading-[56px]">
    I build <span class="highlight-text">web apps</span> and <br />
    do a bit of <span class="highlight-text">design</span>
  </p>
</header>
