<div class="flex justify-between items-center mb-4">
  <h2>Projections</h2>
  <div class="flex gap-4">
    @for (period of [1, 2]; track $index) {
      <div class="flex gap-4">
        <span class="text-gray text-sm">Include current month's period {{ period }} salary</span>
        <mat-slide-toggle color="accent" />
      </div>
    }
  </div>
</div>
<div class="grid grid-cols-[320px_auto] gap-8">
  <div class="shadow bg-white rounded overflow-hidden relative">
    <div class="flex flex-col gap-4 p-6">
      <h3 class="text-xl text-primary">
        Next Month's Savings
      </h3>
      <h3 class="font-body font-bold text-2xl">
        {{ nextMonthSavings() | currency : 'PHP' : undefined : '1.0-0' }}
      </h3>
    </div>
  </div>

</div>
