@use 'mixins' as *;

nav {
  @include respond-to('mobile-md') {
    max-width: calc(100% - 60px);
  }
}

.nav-item.active {
  opacity: 1;

  span {
    padding-left: 16px;
    position: relative;

    &::before {
      content: '*';
      font-family: 'Anonymous Pro', monospace;
      font-weight: 700;
      position: absolute;
      top: -4px;
      left: 0;
      margin-right: 4px;
    }

    @include respond-to('tablet-md') {
      padding-left: 12px;

      &::before {
        top: -5px;
      }
    }
  }
}
