<div class="table-wrapper">
  <table mat-table matSort [dataSource]="tblDataSource">
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let element" mat-cell>
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Amount</th>
      <td *matCellDef="let element" mat-cell>
        {{ element.amount | currency : 'PHP' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Due Date</th>
      <td *matCellDef="let element" mat-cell>
        {{ element.paymentDay | ordinal }}
      </td>
    </ng-container>

    <ng-container matColumnDef="paymentAccount">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Payment Account</th>
      <td *matCellDef="let element" mat-cell>
        {{ element.paymentAccount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="billingCycle">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Billing Cycle</th>
      <td *matCellDef="let element" mat-cell>
        <span class="capitalize">
          {{ element.billingCycle }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastPaymentDate">
      <th *matHeaderCellDef mat-header-cell class="w-[200px]">Last Payment Date</th>
      <td *matCellDef="let element" mat-cell>
        {{ element.lastPaymentDate | date: 'MMM dd' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="isPaid">
      <th *matHeaderCellDef mat-header-cell class="center">
        Paid?
      </th>
      <td *matCellDef="let element" mat-cell class="center">
        <span
          [ngClass]="element.isPaid ? 'text-green' : 'text-red'"
        >
          <qs-icon
            iconStyle="solid"
            [iconSize]="20"
            [iconName]="element.isPaid ? 'circle-check' : 'circle-xmark'"
          />
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell class="center">Action</th>
      <td *matCellDef="let element" mat-cell class="center">
        <button mat-flat-button color="accent" type="button">
          Mark as {{ element.isPaid ? 'Unpaid' : 'Paid' }}
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="tblColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: tblColumns" mat-row></tr>
    <tr *matNoDataRow>
      <td class="mat-cell text-center" [attr.colspan]="tblColumns.length">
        No records found.
      </td>
    </tr>
  </table>
</div>
