@use 'base' as base;

@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inconsolata:wght@200..900&display=swap');

@font-face {
  font-family: 'Porter Sans';
  src: url('/assets/fonts/porter-sans/porter-sans-inline-block-webfont.eot');
  src: url('/assets/fonts/porter-sans/porter-sans-inline-block-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/porter-sans/porter-sans-inline-block-webfont.woff') format('woff'),
    url('/assets/fonts/porter-sans/porter-sans-inline-block-webfont.ttf') format('truetype'),
    url('/assets/fonts/porter-sans/porter-sans-inline-block-webfont.svg#Porter Sans') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Funnel Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;

  &.night {
    background-color: #181C1D;
    color: #E1E1E1;
  }
}

h1,
h2,
h3 {
  font-family: 'Porter Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
}

.highlight-text {
  display: inline-block;
  padding: 0 8px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewX(-6deg);
    rotate: -0.5deg;
  }
}
