<div class="page-container">
  <header class="page-header">
    <h2 class="section-header">
      Our Story
    </h2>
  </header>
  <div class="flex flex-col items-center mt-8 gap-[80px]
    desktop-sm:gap-[70px]
    tablet-md:gap-[60px]
  ">
    @for (person of personas; track $index) {
      <div class="flex border-2 border-solid border-toupe-400
        tablet-sm:flex-col tablet-sm:w-full
      ">
        <div class="relative flex justify-center overflow-hidden items-end bg-[#DFCEAD] w-[440px]
          desktop-sm:w-[360px]
          tablet-md:w-[280px]
          tablet-sm:w-full
        ">
          <img
            priority
            class="w-full
              desktop-sm:w-[110%]
              tablet-sm:w-[200px]
            "
            [alt]="person.name + 's retro avatar'"
            [src]="'/images/' + person.avatar"
          >
        </div>
        <div class="w-[380px]
          desktop-sm:w-[300px]
          tablet-sm:w-full
        ">
          <header class="flex flex-col justify-center items-center text-center bg-[#9A7A68] h-[84px] text-[#E9EBDE]
            desktop-sm:h-[70px]
            tablet-sm:h-[64px]
          ">
            <h3 class="font-retro text-2xl uppercase
              desktop-sm:text-xl desktop-sm:mb-0
              tablet-sm:text-lg
            ">
              {{ person.name }}
            </h3>
            <p class="m-0 mt-1 text-xl font-subheading font-light
              desktop-sm:mt-0
              tablet-sm:text-lg tablet-sm:-mt-1
            ">
              {{ person.title }}
            </p>
          </header>
          <dl class="flex flex-col m-0">
            @for (attribute of person.attributes; track $index) {
              <dt
                class="flex items-center justify-center bg-toupe-400 font-retro text-body-light uppercase leading-normal h-8 text-[0.625rem]"
              >
                {{ attribute.label }}
              </dt>
              <dd class="flex items-center justify-center h-10 m-0 bg-[#EDE2CC]">
                {{ attribute.value }}
              </dd>
            }
          </dl>
        </div>
      </div>
    }

    <div class="w-[820px] border-2 border-solid border-toupe-400 overflow-hidden
      desktop-sm:w-[660px]
      tablet-md:w-[580px]
      tablet-sm:w-full
    ">
      <div class="flex flex-col overflow-hidden">
        <div class="flex justify-center items-end bg-[#DFCEAD] h-[240px]">
          <img
            loading="lazy"
            alt="Couple Retro Avatar Image"
            src="/images/couple-avatar.webp"
            class="h-[90%]"
          >
        </div>
        <header class="flex flex-col justify-center items-center text-center bg-[#9A7A68] text-[#E9EBDE]">
          <h3 class="font-retro text-2xl uppercase py-4
            desktop-sm:text-xl desktop-sm:py-3
            tablet-sm:text-base
          ">
            As A Couple
          </h3>
        </header>
        <dl class="flex flex-col m-0">
          @for (attribute of coupleAttributes; track $index) {
            <dt
              class="text-center flex items-center justify-center bg-toupe-400 font-retro text-body-light uppercase leading-none p-4 text-[0.625rem]
                tablet-sm:leading-4 tablet-sm:py-2
              "
            >
              {{ attribute.label }}
            </dt>
            <dd class="text-center p-6 m-0 bg-[#EDE2CC]">
              <div [innerHTML]="attribute.value"></div>
            </dd>
          }
        </dl>
      </div>
    </div>
  </div>
</div>
